<html layout:decorate="~{layout}">
<head>
	<link rel="stylesheet" type="text/css" th:href="@{/css/attached_files.css}">
</head>
<div layout:fragment="content" style="display: flex;" class="main-container">
	<div class="attached-files-container">
		<header th:replace="~{project/project_header :: prjHeaderFragment}"></header>
		<div class="attached-files-headerbar">
			<div class="attached-searchbar">
				<div class="attached-searchbox">
					<span class="attached-searchbtn">
						<img th:src="@{/images/search_icon.svg}" class="attached-searchbtn-img">
					</span>
					<input placeholder="첨부 파일 검색" class="attached-searchkey" value="">
				</div>
			</div>
		</div>
		<div class="attached-files-body-container">
			<div class="attached-file-box" th:each="file : ${fileList}">
				<div class="attached-file-preview">
					<img class="file-previewimg" th:src="@{|/attached_files/${file.name.endsWith('.txt') ? (file.name.substring(0, file.name.lastIndexOf('.')) + '_converted.png') : file.name}|}" style="object-fit: contain; image-orientation: none; max-width: 100%;">
				</div>
				<div class="attached-file-options" th:attr="data-fileidx=${file.idx}">
					<a th:href="@{|/attached_files/${file.name}|}" download>
						<button class="attached-file-btn download">
							<span style="height: 24px; margin: 0px auto;"><img th:src="@{/images/download_icon.svg}"></span>
						</button>
					</a>
					<button class="attached-file-btn delete">
						<span style="height: 24px; margin: 0px auto;"><img th:src="@{/images/file_trash_icon.svg}"></span>
					</button>
				</div>
				<div class="attached-file-line"></div>
				<div class="attached-file-detail">
					<div class="attached-file-title" th:text="${file.name}"></div>
					<div class="attached-file-affiliation">
						<span style="height: 16px;"><img th:src="@{|/images/${file.issue.issueType.iconFilename}|}"></span>
						<span style="letter-spacing: -0.5px;" th:text="${file.issue.key}"></span>
						<span style="margin-bottom: 2px;" th:text="${file.issue.name}"></span>
					</div>
				</div>
				<div class="file-detail-container">
					<div class="file-detail-header">
						<div class="file-detail-title">
							<div class="file-detail-text">
								<div style="margin-bottom: 2px;" th:text="${file.name}"></div>
							</div>
						</div>
						<div class="file-detail-btnbar">
							<a th:href="@{|/attached_files/${file.name}|}" download>
								<button class="file-download-btn">
									<img style="filter: invert(79%) sepia(15%) saturate(176%) hue-rotate(169deg) brightness(108%) contrast(83%);" th:src="@{/images/download_icon.svg}">
								</button>
							</a>
							<button class="file-exit-btn">
								<img style="filter: invert(79%) sepia(15%) saturate(176%) hue-rotate(169deg) brightness(108%) contrast(83%);" th:src="@{/images/cancel_icon.svg}">
							</button>
						</div>
					</div>
					<div class="file-detail-body">
						<img class="file-detail" th:src="@{|/attached_files/${file.name.endsWith('.txt') ? (file.name.substring(0, file.name.lastIndexOf('.')) + '_converted.png') : file.name}|}">
					</div>
					<div class="file-detail-footer">
						<div class="footer-resize-bar">
							<div class="footer-risize-btns">
								<button class="resizebtn out">
									<img style="filter: invert(79%) sepia(15%) saturate(176%) hue-rotate(169deg) brightness(108%) contrast(83%);" th:src="@{/images/resize_small_icon.svg}">
								</button>
								<button class="resizebtn in">
									<img style="filter: invert(79%) sepia(15%) saturate(176%) hue-rotate(169deg) brightness(108%) contrast(83%);" th:src="@{/images/resize_big_icon.svg}">
								</button>
							</div>
						</div>
						<div class="footer-percent">
							100 %
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="file-delete-alert-container">
		<div class="delete-alert-box">
			<div class="delete-alert-title">
				<img src="/images/alaret_icon.svg" width="16" height="16" style="filter: invert(32%) sepia(62%) saturate(3573%) hue-rotate(345deg) brightness(82%) contrast(91%);">
				<span>이 첨부파일을 삭제하시겠습니까?</span>
			</div>
			<div class="delete-alert-body">
				<span>
					삭제하면 영구적으로 제거됩니다.
				</span>
			</div>
			<div class="delete-alert-btnbar">
				<button class="delete-alert-cancelbtn">
					<span>취소</span>
				</button>
				<button class="delete-alert-submitbtn">
					<span>삭제</span>
				</button>
			</div>
		</div>
	</div>
<script th:src="@{/js/attached_files.js}"></script>
</div>
</html>