<header class="board-header" th:fragment="prjHeaderFragment">

	<head>
		<link rel="stylesheet" type="text/css" th:href="@{/css/project_header.css}">
	</head>
	<div class="myprj-container">
		<div class="project-header-getprojects">
			<a href="#">프로젝트</a>
		</div>
		<div class="project-titlebox">
			<div style="display: flex; align-items: center;">
				<div style="display: flex; align-items: center; height: 32px;">
					<div>
						<span class="header-titleimg">
							<img th:src="@{|/images/${project.iconFilename}|}">
						</span>
					</div>
					<div class="project-title-editbox">
						<input type="text" class="project-title-input" th:value="${project.name}" th:attr="data-projectidx=${project.idx}">
						<button class="edit-prjtitlebtn submit">
							<img src="/images/status_complete_icon.svg" style="filter: invert(14%) sepia(10%) saturate(4925%) hue-rotate(184deg) brightness(96%) contrast(94%);">
						</button>
						<button class="edit-prjtitlebtn cancel">
							<img src="/images/cancel_icon.svg" style="filter: invert(14%) sepia(10%) saturate(4925%) hue-rotate(184deg) brightness(96%) contrast(94%);">
						</button>
					</div>
					<div>
						<h1 class="header-title" th:text="${project.name}"></h1>
					</div>
				</div>
				<div>
					<div class="header-setting">
						<div class="header-setbtn">
							<div class="header-menuwindow">
								<div class="menuwindow-optionbox">
									<button class="menuwindow-optionbtn">
										<span style="height: 16px;"><img th:src="@{/images/star_icon_yellow.svg}" style="width: 16px; height: 16px;"></span>
										<span style="margin-bottom: 2px;">별표 표시 목록에서 제거</span>
									</button>
									<button class="menuwindow-optionbtn insert">
										<span style="height: 16px;"><img th:src="@{/images/user_icon.svg}" style="width: 16px; height: 16px;"></span>
										<span style="margin-bottom: 2px;">사용자 추가</span>
									</button>
									<button th:onclick="|location.href='@{|/project/${project.key}/setting/info|}'|" class="menuwindow-optionbtn">
										<span style="height: 16px;"><img th:src="@{/images/setting_icon.svg}" style="width: 16px; height: 16px;"></span>
										<span style="margin-bottom: 2px;">프로젝트 설정</span>
									</button>
								</div>
								<div class="menuwindow-deletebox">
									<button class="menuwindow-optionbtn delete" style="gap: 12px;"
									th:attr="disabled=${currentUser.idx} != ${project.account.idx} ? 'disabled' : null">
										<span style="height: 24px; margin-left: -4px;"><img th:src="@{/images/trash_icon.svg}" style="width: 24px; height: 24px; filter: invert(24%) sepia(62%) saturate(3539%) hue-rotate(350deg) brightness(71%) contrast(86%);"></span>
										<span style="margin-bottom: 2px; color: #AE2E24;">프로젝트 삭제</span>
									</button>
								</div>
							</div>
							<img th:src="@{/images/three_dots_icon_small.svg}" class="header-setbtn-icon">
						</div>
					</div>
				</div>
			</div>
		</div>
		<nav class="header-menubar">
			<div class="menu-icon-box summation">
				<a th:href="@{|/project/${project.key}/summation|}">
					<span class="menu-icon">
						<img th:src="@{/images/summation_icon.svg}"
							style="filter: invert(32%) sepia(37%) saturate(481%) hue-rotate(179deg) brightness(85%) contrast(85%);">
					</span>
					<span class="menu-text">요약</span>
				</a>
			</div>
			<div class="menu-icon-box board_main">
				<a th:href="@{|/project/${project.key}/board_main|}">
					<span class="menu-icon" style="width: 24px;">
						<img th:src="@{/images/board_icon.svg}"
							style="width: 24px; filter: invert(32%) sepia(37%) saturate(481%) hue-rotate(179deg) brightness(85%) contrast(85%);">
					</span>
					<span class="menu-text">보드</span>
				</a>
			</div>
			<div class="menu-icon-box chart">
				<a th:href="@{|/project/${project.key}/chart|}">
					<span class="menu-icon">
						<img th:src="@{/images/list_icon.svg}"
							style="filter: invert(32%) sepia(37%) saturate(481%) hue-rotate(179deg) brightness(85%) contrast(85%);">
					</span>
					<span class="menu-text">목록</span>
				</a>
			</div>
			<div class="menu-icon-box attached_files">
				<a th:href="@{|/project/${project.key}/attached_files|}">
					<span class="menu-icon">
						<img th:src="@{/images/attachment_icon.svg}"
							style="filter: invert(32%) sepia(37%) saturate(481%) hue-rotate(179deg) brightness(85%) contrast(85%);">
					</span>
					<span class="menu-text">첨부 파일</span>
				</a>
			</div>
			<div class="menu-icon-box project_issue">
				<a th:href="@{|/project/${project.key}/project_issue|}">
					<span class="menu-icon">
						<img th:src="@{/images/project_issue_icon.svg}"
							style="filter: invert(32%) sepia(37%) saturate(481%) hue-rotate(179deg) brightness(85%) contrast(85%);">
					</span>
					<span class="menu-text">이슈</span>
				</a>
			</div>
		</nav>
	</div>
	<div class="insert-member-container">
		<div class="insert-member-box">
			<div class="insert-user-title">
				사용자 추가
			</div>
			<div class="insert-user-body">
				<div class="insert-user-optiontitle">Jira 사용자 목록</div>
				<div class="insert-user-selectbtn" th:attr="data-useridx='', data-projectidx=${project.idx}">
					<div class="insert-user-selectwindow" th:if="${#lists.size(jiraMemberList) > 0}">
						<div class="user-select-option" th:each="jiraMember : ${jiraMemberList}" 
						th:if="${jiraMember.account.idx != currentUser.idx}" th:unless="${#lists.contains(memberAccList, jiraMember.account)}"
						th:attr="data-useridx=${jiraMember.account.idx}">
							<img th:src="@{|/images/${jiraMember.account.iconFilename}|}" width="24" height="24">
							<span th:text="${jiraMember.account.name}"></span>
						</div>
					</div>
					<span th:text="${#lists.size(jiraMemberList) > 0} ? '사용자 선택' : '이 Jira에 다른 사용자가 존재하지 않습니다. 먼저 Jira 사용자를 추가해 주세요.'" class="user-select-alert"></span>
				</div>
				<div class="insert-user-optiontitle">역할</div>
				<div class="insert-user-rolebtn">
					<span>구성원</span>
					<img src="/images/arrow_under_icon.svg" width="12" height="12" style="filter: invert(57%) sepia(4%) saturate(577%) hue-rotate(186deg) brightness(99%) contrast(88%);">
				</div>
			</div>
			<div class="insert-user-btnbar">
				<button class="insert-user-btn submit">
					<span>추가</span>
				</button>
				<button class="insert-user-btn cancel">
					<span>취소</span>
				</button>
			</div>
		</div>
	</div>
	<div class="project-delete-alert-container" th:if="${currentUser.idx} == ${project.account.idx}">
		<div class="delete-alert-box">
			<div class="delete-alert-title">
				<img src="/images/alaret_icon.svg" width="16" height="16" style="filter: invert(32%) sepia(62%) saturate(3573%) hue-rotate(345deg) brightness(82%) contrast(91%);">
				<span class="delete-alert-titletext">이 프로젝트를 삭제하시겠습니까?</span>
			</div>
			<div class="delete-alert-body">
				<span>
					프로젝트가 이슈, Jira 컴포넌트, 첨부 파일 및 버전을 포함하여 영구적으로 삭제됩니다.
				</span>
			</div>
			<div class="delete-alert-btnbar">
				<button class="delete-alert-cancelbtn">
					<span>취소</span>
				</button>
				<button class="delete-alert-submitbtn" th:attr="data-projectidx=${project.idx}, data-useridx=${currentUser.idx}">
					<span>삭제</span>
				</button>
			</div>
		</div>
	</div>
	<script th:src="@{/js/project_header.js}"></script>
</header>