<header class="board-header" th:fragment="prjHeaderFragment">

	<head>
		<link rel="stylesheet" type="text/css" th:href="@{/css/project_header.css}">
	</head>
	<div class="myprj-container">
		<div class="project-header-getprojects">
			<a href="#">프로젝트</a>
		</div>
		<div class="project-titlebox">
			<div style="display: flex; align-items: center;">
				<div style="display: flex; align-items: center; height: 32px;">
					<div>
						<span class="header-titleimg">
							<img th:src="@{|/images/${project.iconFilename}|}">
						</span>
					</div>
					<div class="project-title-editbox">
						<input type="text" class="project-title-input" th:value="${project.name}" th:attr="data-projectidx=${project.idx}">
						<button class="edit-prjtitlebtn submit">
							<img src="/images/status_complete_icon.svg" style="filter: invert(14%) sepia(10%) saturate(4925%) hue-rotate(184deg) brightness(96%) contrast(94%);">
						</button>
						<button class="edit-prjtitlebtn cancel">
							<img src="/images/cancel_icon.svg" style="filter: invert(14%) sepia(10%) saturate(4925%) hue-rotate(184deg) brightness(96%) contrast(94%);">
						</button>
					</div>
					<div>
						<h1 class="header-title" th:text="${project.name}"></h1>
					</div>
				</div>
				<div>
					<div class="header-setting">
						<div class="header-setbtn">
							<img th:src="@{/images/three_dots_icon_small.svg}" class="header-setbtn-icon">
						</div>
					</div>
				</div>
			</div>
		</div>
		<nav class="header-menubar">
			<div class="menu-icon-box summation">
				<a th:href="@{|/${currentJira}/project/${project.key}/summation|}">
					<span class="menu-icon">
						<img th:src="@{/images/summation_icon.svg}"
							style="filter: invert(32%) sepia(37%) saturate(481%) hue-rotate(179deg) brightness(85%) contrast(85%);">
					</span>
					<span class="menu-text">요약</span>
				</a>
			</div>
			<div class="menu-icon-box board_main">
				<a th:href="@{|/${currentJira}/project/${project.key}/board_main|}">
					<span class="menu-icon" style="width: 24px;">
						<img th:src="@{/images/board_icon.svg}"
							style="width: 24px; filter: invert(32%) sepia(37%) saturate(481%) hue-rotate(179deg) brightness(85%) contrast(85%);">
					</span>
					<span class="menu-text">보드</span>
				</a>
			</div>
			<div class="menu-icon-box chart">
				<a th:href="@{|/${currentJira}/project/${project.key}/chart|}">
					<span class="menu-icon">
						<img th:src="@{/images/list_icon.svg}"
							style="filter: invert(32%) sepia(37%) saturate(481%) hue-rotate(179deg) brightness(85%) contrast(85%);">
					</span>
					<span class="menu-text">목록</span>
				</a>
			</div>
			<div class="menu-icon-box attached_files">
				<a th:href="@{|/${currentJira}/project/${project.key}/attached_files|}">
					<span class="menu-icon">
						<img th:src="@{/images/attachment_icon.svg}"
							style="filter: invert(32%) sepia(37%) saturate(481%) hue-rotate(179deg) brightness(85%) contrast(85%);">
					</span>
					<span class="menu-text">첨부 파일</span>
				</a>
			</div>
			<div class="menu-icon-box issue">
				<a>
					<span class="menu-icon">
						<img th:src="@{/images/project_issue_icon.svg}"
							style="filter: invert(32%) sepia(37%) saturate(481%) hue-rotate(179deg) brightness(85%) contrast(85%);">
					</span>
					<span class="menu-text">이슈</span>
				</a>
			</div>
		</nav>
		<div class="header-menuwindow">
			<div class="menuwindow-optionbox">
				<button class="menuwindow-optionbtn">
					<span style="height: 16px;"><img th:src="@{/images/star_icon_yellow.svg}" style="width: 16px; height: 16px;"></span>
					<span style="margin-bottom: 2px;">별표 표시 목록에서 제거</span>
				</button>
				<button class="menuwindow-optionbtn">
					<span style="height: 16px;"><img th:src="@{/images/user_icon.svg}" style="width: 16px; height: 16px;"></span>
					<span style="margin-bottom: 2px;">사용자 추가</span>
				</button>
				<button th:onclick="|location.href='@{|/${currentJira}/project/${project.key}/setting_issue_type|}'|" class="menuwindow-optionbtn">
					<span style="height: 16px;"><img th:src="@{/images/setting_icon.svg}" style="width: 16px; height: 16px;"></span>
					<span style="margin-bottom: 2px;">프로젝트 설정</span>
				</button>
			</div>
			<div class="menuwindow-deletebox">
				<button class="menuwindow-optionbtn" style="gap: 12px;">
					<span style="height: 24px; margin-left: -4px;"><img th:src="@{/images/trash_icon.svg}" style="width: 24px; height: 24px; filter: invert(24%) sepia(62%) saturate(3539%) hue-rotate(350deg) brightness(71%) contrast(86%);"></span>
					<span style="margin-bottom: 2px; color: #AE2E24;">프로젝트 삭제</span>
				</button>
			</div>
		</div>
	</div>
	<script th:src="@{/js/project_header.js}"></script>
</header>