<div th:fragment="dashboardDetailHeader" class="dashboard_detail_header">
	<head>
		<link rel="stylesheet" type="text/css" th:href="@{/css/dashboard_detail_header.css}">
	</head>
	<div th:replace="~{dashboard/dashboard_delete :: dashboardDelete}"></div>
	<h2 th:text="${currentDashboard.name}"></h2>
	<div class="gnb">
		<button class="gnb_btn1">
			<img th:src="@{/images/star_icon_empty.svg}" width="16" height="16" />
		</button>
		<th:block th:if="${isDetail}">
			<a th:href="@{|/dashboard/edit/${currentDashboard.idx}|}" class="gnb_btn2">
				<span>편집</span>
				<img th:src="@{/images/pencil_icon.svg}" width="16" height="16" />
			</a>
		</th:block>
		<th:block th:unless="${isDetail}">
			<button class="gnb_btn2 gadget_add_btn">
				가젯 추가
			</button>
			<a th:href="@{|/dashboard/detail/${currentDashboard.idx}|}" class="gnb_btn2 complete">
				<span>완료</span>
			</a>
		</th:block>
		<div class="gnb_btn1 more">
			<div class="img_box">
				<img th:src="@{/images/three_dots_row_icon.svg}" width="16" height="16" />
			</div>
			<div class="more_box" 
				 th:idx-data="${currentDashboard.idx}" 
				 th:dashboard-name-data="${currentDashboard.name}">
				<button>대시보드 삭제</button>
			</div>
		</div>
	</div>
</div>