body{
	overflow:hidden;
}

.attached-files-container{
	background-color: #F1F2F4;
	width: 100%;
	position: relative;
}

.attached-files-headerbar{
	display: flex;
	height:80px;
	padding-top: 14px;
	padding-left: 23px;
	padding-bottom: 16px;
	padding-right: 26px;
	background-color: #F1F2F4;
	justify-content: space-between;
}

.attached-searchbar{
	display: flex;
	align-items: center;
	gap: 8px;
}

.attached-searchbox{
	display: flex;
	align-items: center;
	box-sizing: border-box;
	border: 1px solid rgba(9, 30, 66, 0.13);
	border-radius: 3px;
	background-color: white;
	color: #626f86;
	width: 184px;
	height: 32px;
}

.attached-searchbox:focus{
	border: 2px solid #0C66E4;
}

.attached-searchkey{
	outline: 0;
	border: 0;
	width: 160px;
	height: 28px;
	padding: 6px 4px 6px 6px;
	color: #626f86;
	font-size: 14px;
	cursor: text;
}

.attached-searchbtn{
	color: #626F86;
	width: 16px;
	height: 16px;
	margin-left: 6px;
}

.attached-searchbtn-img{
	filter: invert(14%) sepia(5%) saturate(861%) hue-rotate(191deg) brightness(95%) contrast(91%);
	width: 16px;
	height: 16px;
}

.attached-headerbtn{
	height: 32px;
	padding-left: 10px;
	padding-right: 9px;
	display: flex;
	align-items: center;
	gap: 6px;
	font-size: 14px;
	color: #172B4D;
	background-color: #F1F2F4;
	border: 1px solid #091E4224;
	border-radius: 3px;
	position: relative;
}

.attached-headerbtn:hover{
	background-color: #091E0E24;
}

.attached-headerbtn-icon{
	margin-left: 1px;
	filter: invert(14%) sepia(10%) saturate(4925%) hue-rotate(184deg) brightness(96%) contrast(94%);
	width: 16px;
}

.attached-headerwindow-user{
	position: absolute;
	top: 40px;
	left: 0px;
	width: 312px;
	background-color: white;
	z-index: 1;
	border-radius: 3px;
	box-shadow: 0 0 0 1px rgba(9, 30, 66, 0.13), 0 4px 11px rgba(9, 30, 66, 0.13);
	display: none;
}

.attached-headerwindow-user.show{
	display: block;
}

.attached-user-searchbox{
   display: flex;
   align-items: center;
   box-sizing: border-box;
   border: 1px solid #7A869A;
   border-radius: 3px;
   background-color: white;
   color: #626f86;
   height: 40px;
   margin: 8px 8px 4px 8px;
}

.attached-user-searchkey{
   outline: 0;
   border: 0;
   width: 252px;
   height: 20px;
   padding: 6px 8px 6px 8px;
   color: #626f86;
   font-size: 14px;
   cursor: text;
}

.attached-user-searchbtn{
   color: #2C3E5D;
   width: 24px;
   height: 24px;
   margin-left: 4px;
   margin-bottom: 2px;
}

.attached-user-searchline{
   width: 1px;
   height: 22px;
   background-color: #CCCCCC;
   margin-left: 3px;
}

.attached-user-body{
	width: 311px;
	max-height: 256px;
	overflow: auto;
	overflow-x: hidden;
	padding: 8px 0px;
	border-bottom: 1px solid #091E422F;
}

.attached-user-bar{
	height: 36px;
	display: flex;
	align-items: center;
	gap: 11px;
	padding: 4px 12px 4px 16px;
	color: #292A2E;
}

.attached-user-bar:hover{
	background-color: #091E420F;
	border-left: 2px solid #0C66E4;
	padding-left: 14px;
}

.attached-headerwindow-checkbox{
	width: 14px;
	height: 14px;
	background-color: #091E420F;
	border: 2px solid #091E422F;
	border-radius: 3px;
	margin-left: 5px;
}

.attached-user-iconimg{
	width: 24px;
	height: 24px;
	border-radius: 50%;
}

.attached-headerwindow-resetbox{
	height: 49px;
	padding: 8px;
	color: #292A2E;
}

.attached-headerwindow-resetbtn{
	width: 130px;
	height: 32px;
	padding: 0px 12px;
	display: flex;
	align-items: center;
	border-radius: 3px;
}

.attached-headerwindow-resetbtn:hover{
	background-color: #091E420F;
}

.attached-headerwindow{
	position: absolute;
	top: 40px;
	left: 0px;
	width: 220px;
	height: 289px;
	background-color: white;
	z-index: 1;
	border-radius: 3px;
	box-shadow: 0 0 0 1px rgba(9, 30, 66, 0.13), 0 4px 11px rgba(9, 30, 66, 0.13);
	display: none;
}

.attached-headerwindow.show{
	display: block;
}

.attached-headerwindow-body{
	width: 220px;
	height: 240px;
	padding: 8px 0px;
	border-bottom: 1px solid #091E422F;
}

.attached-headerwindow-bar{
	height: 32px;
	display: flex;
	align-items: center;
	gap: 9px;
	padding: 4px 12px 4px 16px;
	color: #292A2E;
}

.attached-headerwindow-bar:hover{
	background-color: #091E420F;
	border-left: 2px solid #0C66E4;
	padding-left: 14px;
}

.attached-headerwindow-checkbox{
	width: 14px;
	height: 14px;
	background-color: #091E420F;
	border: 2px solid #091E422F;
	border-radius: 3px;
	margin-left: 5px;
}

.attached-headerwindow-icon{
	fill: white;
}

.attached-headerbtn-value{
	margin-bottom: 2px;
	padding-right: 2px;
}

.attached-files-body-container{
	padding: 20px 22px;
	display: flex;
	gap: 16px;
	flex-wrap: wrap;
	background-color: #F1F2F4;
}

.attached-file-box{
	width: 282px;
	height: 206px;
	background-color: white;
	border-radius: 14px;
	box-shadow: 0 1px 1px #091e423f, 0 0 1px #091e4221;
	position: relative;
}

.attached-file-preview{
	height: 144px;
	border-bottom: 1px solid #091E422F;
	position: relative;
	overflow: hidden;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

.file-previewimg{
	position: absolute; 
	left: 50%; 
	top: 50%; 
	object-fit: contain; 
	image-orientation: none; 
	transform: translate(-50%, -50%); 
	max-width: 100%;
}

.attached-file-options{
	position: absolute;
	top: 0px;
	right: 0px;
	width: 88px;
	height: 48px;
	padding: 8px;
	display: none;
	align-items: center;
	gap: 8px;
}

.attached-file-btn{
	width: 32px;
	height: 32px;
	display: flex;
	align-items: center;
	border-radius: 50%;
	background-color: #DCDFE4;	
}

.attached-file-btn:hover{
	background-color: #B3B9C4;
}

.attached-file-btn > span > img{
	filter: invert(14%) sepia(10%) saturate(4925%) hue-rotate(184deg) brightness(96%) contrast(94%);
}

.attached-file-line{
	width: 282px;
	height: 1px;
}

.attached-file-detail{
	height: 60px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	color: #172B4D;
	background-color: white;
	padding: 7px 12px;
}

.attached-file-title{
	font-size: 14px;
	font-weight: bold;
	width: 258px;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.attached-file-affiliation{
	height: 20px;
	display: flex;
	align-items: center;
	gap: 8px;
	font-size: 14px;
	margin-top: 6px;
}

.attached-file-affiliation > span > img{
	margin-left: -3px;
}

.file-detail-container{
	position: fixed;
	top: 0px;
	left: 0px;
	background-color:  #22272B;
	width: 100%;
	height: 100%;
	z-index: 999;
	display: none;
}

.file-detail-container.show{
	display: block;
}

.file-detail-header{
	height: 98px;
	padding:  4px 20px 24px 28px;
	color: #C7D1DB;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.file-detail-title{
	display: flex;
	align-items: center;
	height: 40px;
	font-size: 14px;
}

.file-detail-img{
	padding-top: 12px;
	padding-right: 16px;
}

.file-detail-text{
	padding-top: 7px;
}

.file-detail-btnbar{
	height: 40px;
	display: flex;
	align-items: center;
	padding-top: 2px;
	gap: 12px;
	padding-left: 12px;
}

.file-detail-btnbar > button {
	background-color: #22272B;
	width: 32px;
	height: 32px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.file-detail-btnbar > button:hover, .footer-risize-btns > button:hover{
	border-radius: 3px;
	background-color: #A1BDD914;
}

.file-detail{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.file-detail-footer{
	width: 100%;
	height: 98px;
	padding: 8px 24px;
	position: absolute;
	bottom: 0px;
	display: flex;
	align-items: end;
}

.footer-risize-btns{
	height: 32px;
	display: flex;
	gap: 8px;
	position: absolute;
	bottom: 8px;
	left: 50%;
	transform: translate(-50%, 0);
	
}

.footer-risize-btns > button{
	background-color: #22272B;
	width: 32px;
	height: 32px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.footer-percent{
	color: #C7D1DB;
	font-size: 14px;
	position: absolute;
	bottom: 16px;
	right: 22px;
}

.file-delete-alert-container{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: #050C1F75;
	z-index: 100;
	display: none;
}

.file-delete-alert-container.show{
	display: block;
}

.delete-alert-box{
	width: 400px;
	background-color: white;
	border-radius: 3px;
	margin: 60px auto 0px auto;
}

.delete-alert-title{
	padding: 22px 24px 16px 28px;
	display: flex;
	align-items: center;
	gap: 12px;
	font-weight: bold;
	font-size: 19px;
	color: #292A2E;
}

.delete-alert-body{
	padding: 2px 24px;
	font-size: 14px;
	color: #292A2E;
	text-align: left;
}

.delete-alert-btnbar{
	display: flex;
	align-items: center;
	gap: 8px;
	justify-content: right;
	padding: 16px 24px 24px 24px;
}

.delete-alert-cancelbtn, .delete-alert-submitbtn{
	width: 52px;
	height: 32px;
	padding: 0px 10px;
	font-size: 14px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 3px;
}

.delete-alert-submitbtn{
	background-color: #C9372C;
	color: white;
}

.delete-alert-cancelbtn:hover{
	background-color: #0515240F;
}

.delete-alert-submitbtn:hover{
	background-color: #AE2E24;
}