.pie_chart_box {
	max-width: 400px;
	height: 400px;
}

.dashboard_content_container {
	width: 100%;
	
	margin-top: 24px;
	margin-bottom: 180px;
	display: flex;
	justify-content: space-between
}

.dashboard_content_container>.box1, 
.dashboard_content_container>.box2 {
	width: calc(50% - 16px);
}

.dashboard_content_container .add_dashboard_content {
	padding: 16px;
	padding-top: 0;
	margin-bottom: 16px;

	border: none;
	border-top: 4px solid #2684ff;
	border-radius: 4px;
	box-shadow: 0px 1px 1px #091e423f, 0px 0px 1px #091e4221;
}

.dashboard_content_container .alert_box.show{
	display: block;
}

.dashboard_content_container .alert_box{
	display: none;
	color: #ae2e24;
	font-size: 14px;
}

.add_dashboard_content_header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.add_dashboard_content_header h2 {
	padding: 16px 0%;
	padding-right: 8px;

	display: flex;
	align-items: center;
}

.add_dashboard_content_header h2 span {
	font-size: 16px;
}

.add_dashboard_content_header>div {
	display: flex;
}

.add_dashboard_content_header .img_box {
	width: 32px;
	height: 32px;

	display: flex;
	justify-content: center;
	align-items: center;

	cursor: pointer;
}

.add_dashboard_content_header .img_box.dashboard_more {
	position: relative;
}

.dynamic_box table {
	width: 100%;
	border-collapse: collapse;
}

.dynamic_box tr th:nth-of-type(1),
.dynamic_box tr td:nth-of-type(1) {
	text-align: center;
}


.dynamic_box thead tr {
	height: 24px;
	border-bottom: 2px solid #ddd;
}

/* 아직 미구현*/
.dynamic_box tbody{
	max-height: 320px;
	overflow-y: auto;
}

.dynamic_box tbody tr:last-of-type {
	border-bottom: 2px solid #ddd;
}

.dynamic_box tbody tr td {
	line-height: 36px;
}

.dynamic_box tr th {
	text-align: left;

	color: #292a2e;
	font-size: 12px;
	font-weight: normal;
}

.dynamic_box tr td {
	font-size: 14px;
}

.dynamic_box a {
	color: #2684ff;
}

.dynamic_box a:hover {
	text-decoration: underline;
}

.dashboard_allot .dynamic_box tr td a.img_box {
	width: 100%;
	height: 100%;

	display: flex;
	justify-content: center;
	align-items: center;
}

.dashboard_allot .paging_box{
	padding: 6px 12px;
	
	font-size: 14px;
	
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.dashboard_allot .paging_box p span{
	font-weight: bold;
}

 .number_box{
	position: relative;
	
	display: flex;
	gap: 4px;
	align-items: center;
}

.dashboard_allot .paging_box .paging_btn_box{
	display: flex;
	gap: 3px;
	align-items: center;
}

.dashboard_allot .paging_box .prev_btn{
	display: block;
	width: 6px;
	height: 6px;
	border-left: 2px solid;
	border-top: 2px solid;
	transform: rotate(-45deg);
	cursor: pointer;
}

.dashboard_allot .paging_box .next_btn{
	display: block;
	width: 6px;
	height: 6px;
	border-left: 2px solid;
	border-top: 2px solid;
	transform: rotate(135deg);
	cursor: pointer;
}

.dashboard_allot .paging_box .number_box button.active{
	color: #2684ff;
}

.dashboard_pie_chart_container {
	padding: 20px;
}

.dashboard_pie_chart_box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
	position: relative;
}

.doughnut_chart_ratio{
	text-align: center;
	
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.doughnut_chart_ratio p{
	font-size: 48px;
}

.dashboard_pie_chart_box > div{
	min-width: 400px;
	min-height: 400px;
}

.dashboard_pie_chart_content{
	padding: 25px;
	padding-bottom: 15px;
	padding-top: 0;
	
	color: #172b4d;
}

.dashboard_pie_chart_content .header h3{
	height: 24px;
	
	font-weight: normal;
	font-size: 20px;
}

.dashboard_pie_chart_content .header a{
	font-size: 14px;
}

.dashboard_pie_chart_content .main{
	max-height: 240px;
	margin-top: 10px;
	
	border-top:2px solid #758195;
	border-bottom:2px solid #758195;
	
	overflow-y: auto;
}

.dashboard_pie_chart_content .main > a{
	padding: 10px 7px;
	padding-right: 18px;
	color: #000;
	
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.dashboard_pie_chart_content .main > a p{
	font-size: 14px;
}

.dashboard_pie_chart_content .main > a span{
	font-size: 13px;
}

.dashboard_pie_chart_content .main > a > div{
	display: flex;
	gap: 10px;
	align-items: center;
}

.dashboard_pie_chart_content .main .color_box{
	width: 16px;
	height: 16px;
}

.dashboard_issue_complete_container{
	padding-right: 20px;
}

.dashboard_issue_complete_content{
	margin-top: 24px;
}

.dashboard_issue_complete_content h3{
	font-size: 14px;
	font-weight: normal;
}

.dashboard_issue_complete_content .main .box{
	padding: 6px 0;
	
	font-size: 14px;
	
	display: flex;
	gap: 10px;
	align-items: center;
}

.dashboard_issue_recent_container{
	padding-right: 20px;
}

.dashboard_issue_recent_content{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.dashboard_issue_recent_content h3{
	margin-top: 14px;
	
	color: #2684ff;
	font-size: 14px;
	font-weight: normal;
}

.dashboard_issue_statistics tbody tr td:first-of-type{
	padding-left: 4px;
	display: flex;
	gap: 2px;
	align-items: center;
}

.dashboard_issue_statistics .percent_box{
	height: 5px;
	margin-right: 8px;	
	background-color: #E9F2FE;
	
	border-radius: 5px;
}

.dashboard_issue_statistics .percent_box{
	height: 5px;
	margin-right: 8px;	
	background-color: #E9F2FE;
	
	border-radius: 5px;
}

.dashboard_issue_statistics .percent_box span{
	display: block;
	height: 100%;
	background-color: #1868DB;
	
	border-radius: 5px;
}



