.filtertop {
	height: 396px;
	margin: 0px 40px;	
	margin-top: 22px;
	
}
.filtertop_div{
	height: 56px;	
	margin-bottom: 2px;
	display: flex;
	justify-content: space-between;
}


.filtertop_div a {
	background-color: #0C66E4;
	padding: 0px 10px;
	width: 97.86px;
	height: 32px;
	border-radius: 3px;
}
.filtertop_div a:hover{
	background-color: #0052CC;
}
.select_top {
	height: 32px;
	width: 200px;
	display: flex;
	margin-right: 16px;
	align-items:center;
	border : 1px solid #8590A2;
	border-radius: 3px;
}
.select_top_1 {
	height: 32px;
	width: 184px;
	display: flex;
	border-radius: 3px;
	align-items:center;
	border : 1px solid #8590A2;
	margin-right: 16px;
}

.select_top:hover{
	background-color: #F4F5F7;
}
.select_top_menu {
	position: absolute; 
	border-radius: 3px;
	background-color: white;
	font-size: 14px;
	box-shadow: 0 4px 8px rgba(9, 30, 66, 0.25), 0 0 1px rgba(9, 30, 66, 0.31);
	top: 40px;
	min-height: 40px;
	display: none;
}
.select_top_menu.show{
	display: flex;
	align-items: center;
}
.select_top_menue_list {
	background-color: #F4F5F7;
 	width: 200px;
	align-items: center;
	padding: 0px 10px;
	display: flex;
	height: 24px;
	border-left: 2px solid #0C66E4;
}

.filtertop span{
	font-size: 14px;
	display: block;
	width: 100%;
	line-height: 32px;
	text-align: center;
	color : white;
}
.everyfilter_category input{
	border-radius: 3px;
	background-color: transparent;
}
.filtertop h1{
	font-weight: normal;
	font-size: 24px;
}

.everyfilter_category{
	height: 32px;
	display: flex;
	margin-bottom: 15px;
	position: relative;
}

.table_th{
	width: 100%;
	border-bottom: 2px solid #ddd;
	border-collapse: collapse;
}
.table_th th{
	text-align: left;
	font-size: 12px;
}
.table_th th:nth-of-type(1){
	display: flex;
}
.table_th th:nth-of-type(2){
	width: 325.64px;
}
.table_tr{
	border-top: 1px solid #8590A2;;
	display: flex;
}
.table_tr td{
	margin-right: 50px;
}
.first_tr{
	border-bottom: 2px solid #ddd;
}
.first_tr th{
	color: #44546f;
	padding: 4px 8px;
}


.first_tr th:nth-of-type(1){
	justify-content: center;
	padding: 4px 8px 4px 0px;
}

.first_tr th a:nth-of-type(1){
	width: 6px;
	height: 6px;
}
.first_tr th a:nth-of-type(2){
	width: 6px;
	height: 6px;
}
.triangle {
	display: flex;
	text-align: right;
	flex-direction: column;
	justify-content: space-around;
}
.triangle button{
	width: 6px;
	height: 6px;
}
.second_tr{
	vertical-align: top;
}
.second_tr td{
	padding : 4px 8px;
}
.second_tr:hover{
	background-color: #091E420F;
	cursor: pointer;
	border-radius: 5px;
}
.second_tr div:nth-of-type(1){
	font-size: 14px;
}

.second_tr td:nth-of-type(1){
	padding: 0px 8px 0px 0px;
	text-align: center;
}

.second_tr td:nth-of-type(7){
	padding: 0px 0px 0px 8px;
}
table{
    border-spacing: 1px;
}
a:hover {
	text-decoration: underline;
}
.delete_button{
	width: 40px;
	border-radius: 8px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
.delete_button_1{
	width: 60px;
	height: 32px;
	border-radius:4px;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
	background-color: white;
	position: absolute;
	right: 30px;
	top: 16px;
}
.delete_button_1_text{
	height: 24px;
	line-height: 24px;
}
.delete_button_1_text:hover {
	background-color: #0515240F;
}
.delete_modal {
    position: fixed;
    z-index: 10; /* 가장 위에 표시되도록 */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color:#050C1F75;
}
.delete_modal_contents{
	height: 300px;
	width: 600px;	
	background-color: white;
	border-radius: 3px;
	margin: 60px auto 0px auto;
}
.delete_alert_title{
	padding: 22px 24px 16px 28px;
	display: flex;
	align-items: center;
	gap: 12px;
	font-weight: bold;
	font-size: 19px;
	color: #292A2E;
}

.delete_alert_body{
	padding: 2px 24px;
	font-size: 14px;
	color: #292A2E;
	text-align: left;
}

.delete_alert_btnbar{
	display: flex;
	align-items: center;
	gap: 8px;
	justify-content: right;
	padding: 16px 24px 24px 24px;
}

.delete_alert_cancelbtn, .delete_alert_submitbtn{
	width: 52px;
	height: 32px;
	padding: 0px 10px;
	font-size: 14px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 3px;
}

.delete_alert_submitbtn{
	background-color: #C9372C;
	color: white;
}

.delete_alert_cancelbtn:hover{
	background-color: #0515240F;
}

.delete_alert_submitbtn:hover{
	background-color: #AE2E24;
}
.delete_button:hover{
	background-color: #091E420F;
}
.like_start_icon img{
	margin-top: 8px;
}