.footer-layout{
	height: 50px;
	display: flex; 
	align-items: center; 
	position: fixed; 
	right: 30px; 
	bottom: 30px;
}

.footer-btn{
	z-index: 999;
}

.btn-container{
	background-color: white; 
	width: 50px; 
	height: 50px;
	margin: 0 2px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	
	box-shadow: 0 1px 1px rgba(9, 30, 66, 0.25), 0 0 1px rgba(9, 30, 66, 0.31);
	
	transition: ease-in-out 0.1s;
}

.footer-btn-item.chat-bot{
	position: absolute;
	top: 0;
	left: -54px;
	z-index: 998;
}

.footer-btn-item.chat-room{
	position: absolute;
	top: 0;
	left: -108px;
	z-index: 998;
}
	
.footer-btn-item.hidden{
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
}

.selectwindow{
	position: absolute;
	bottom: 60px;
	right: 0px;
	z-index: 999;
	width: 300px;
	background-color: white;
	border-radius: 10px;
	box-shadow: rgba(15, 15, 15, 0.04) 0px 0px 0px 1px, rgba(15, 15, 15, 0.03) 0px 3px 6px, rgba(15, 15, 15, 0.06) 0px 9px 24px;
	cursor: default;
	display: none;
}

.selectwindow.show{
	display: block;
}

.selectwindow-header{
	padding: 10px 10px 0px 10px;
	font-size: 14px;
}

.selectwindow-body{
	overflow: auto;
	overflow-x: hidden;
	font-size: 14px;
	padding: 6px 10px 0px 10px;
	max-height: 360px;
}

.question-container{
	display: flex; 
	justify-content: flex-end;
	margin-top: 4px;
}

.answer-container{
	display: flex;
	justify-content: flex-start;
	margin-top: 4px;
}

.questionbox{
	border-radius: 16px;
	padding: 6px 14px;
	background-color: #F7F8F9;
	color: #172B4D;
	max-width: 220px;
}

.answerbox{
	border-radius: 16px;
	padding: 6px 14px;
	background-color: #E9F2FE;
	color: #0052CC;
	max-width: 220px;
	display: flex;
	align-items: center;
}

.selectwindow-footer{
	width: 100%;
	padding: 10px;
}

.ai-container{
	padding: 10px;
	box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px inset;
	border-radius: 16px;
}

.question-inputbox{
	resize: none;
    overflow: hidden;
    width: 100%;
    min-height: 18px;
    font-size: 14px;
	box-sizing: border-box;
	outline: none;
	border: none;
	display: flex;
	align-items: center;
	vertical-align: middle;
	padding: 0;
}

.question-inputbox:hover{
	border: none;
}

.searchbtn{
	position: absolute;
	bottom: 15px;
	right: 15px;
	color: #A5ADBA;
	background-color: #091E4208;
	width: 28px;
	height: 28px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
}