body{
	background-color: #f1f2f4;
}

.jira_invite_email_box {
	width: 520px;
	margin: 0 auto;
	border-radius: 12px;
	border: 1px solid #ddd;
	background-color: #fff;
}

.jira_invite_email_box h1 {
	padding: 16px 24px;
}

.jira_invite_email_box .content {
	padding: 0 24px;
	padding-top: 18px;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	gap: 12px;
}

.jira_invite_email_box .content h2 {
	font-size: 24px;
}

.jira_invite_email_box .content p {
	font-size: 12px;
}

.jira_invite_email_box .content .agree_btn {
	width: 80px;
	padding: 4px 2px;
	margin-bottom: 12px;
	border-radius: 4px;
	background-color: #0c66e4;

	text-align: center;
	font-size: 13px;
	color: #fff;
}

.jira_invite_email_box .footer {
	padding: 24px 0;
	color: #172b4d;
	font-size: 12px;

	display: flex;
	gap: 4px;
	flex-direction: column;
	align-items: center;
}