.project_delete_modal.show {
	display: block;
}

.project_delete_modal {
	display: none;
	width: 100%;
	height: 100%;
	background-color: #091e427d;

	position: absolute;
	top: 0;
	left: 0;
	z-index: 999;
}

.project_delete_box {
	width: 600px;
	margin: 0 auto;
	margin-top: 58px;
	border-radius: 4px;
	background-color: #fff;
}

.project_delete_box h2 {
	padding: 24px;
	padding-bottom: 16px;
	
	font-size: 18px;
	font-weight: normal;
}

.project_delete_box h2 img{
	filter: invert(78%) sepia(45%) saturate(6483%) hue-rotate(5deg) brightness(110%) contrast(101%);
}

.project_delete_box p {
	padding: 0 24px;
	
	font-size: 14px;
}

.project_delete_box .btn_box {
	padding: 24px;
	padding-top: 16px;
	
	display: flex;
	gap: 8px;
	justify-content: flex-end;
}

.project_delete_box .btn_box button{
	height: 32px;
	padding: 0 12px;
	border-radius: 4px;
}

.project_delete_box .btn_box .cancle_btn:hover{
	background-color: #eee;
}

.project_delete_box .btn_box .delete_btn{
	background-color: #FBC828;
}

.project_delete_box .btn_box .delete_btn:hover{
	background-color: #FCA700;
}