.board-header {
	width: 100%;
	height: 125px;
	border-bottom: 2px solid #091E4224;
	background-color: #F1F2F4;
	/* position: sticky;
	top: 48px; */
	z-index: 998;
	padding-top: 22px;
	padding-left: 23px;
	padding-right: 24px;
}

.myprj-container {
	margin: 0;
	height: 71px;
}

.project-header-getprojects{
	height: 24px;
	color: #505258;
	font-size: 14px;
	margin-bottom: 7px;
	display: flex;
	align-items: center;
}

.project-titlebox{
	display: flex; 
	align-items: center; 
	justify-content: space-between;
	margin-left: -1px;
	margin-bottom: 5px;
}

.header-titleimg {
	border-radius: 2px;
	width: 24px;
	height: 24px;
	display: flex;
	margin-top: -2px;
	margin-left: 3px;
}

.header-titleimg img {

	width: 100%;
	height: 100%;
	flex: 1 1 100%;
}

.header-title {
	font-weight: bold;
	display: flex;
	font-size: 25px;
	margin-left: 12px;
	letter-spacing: -2px;
	color: #172b4d;
	margin-top: -1px;
}

.header-title:hover{
	background-color: #0515240F;
}

.header-title.none{
	display: none;
}

.project-title-editbox{
	width: 328px;
	height: 40px;
	padding: 0px 6px;
	margin-left: 8px;
	background-color: white;
    border: 1px solid #8C8F97;
    border-radius: 3px;
	align-items: center;
	position: relative;
	cursor: pointer;
	display: none;
}

.project-title-editbox.show{
	display: flex;
}

.project-title-input{
	width: 320px;
	height: 34px;
	font-size: 25px;
	font-weight: bold;
	outline: none;
	border: none;
	color: #505258;
}

.edit-prjtitlebtn{
	position: absolute;
	top: 44px;
	width: 32px;
	height: 32px;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0 4px 8px -2px rgba(9, 30, 66, 0.25), 0 0 1px rgba(9, 30, 66, 0.31);
	background-color: white;
	z-index: 1;
}

.edit-prjtitlebtn.submit{
	right: 36px;
}

.edit-prjtitlebtn.cancel{
	right: 0px;
}

.header-setting {
	display: flex;
	position: relative;
	margin-left: 12px;
}

.header-setbtn{
	display: flex;
	border-radius: 3px;
	position: relative;
	width: 32px;
	height: 32px;
	background-color: #F1F2F4;
	text-align: center;
	padding: 4px;
}

.header-setbtn.active{
	background-color: #3B3D42;
}

.header-setbtn-icon{
	filter: invert(32%) sepia(9%) saturate(347%) hue-rotate(187deg) brightness(90%) contrast(87%);
}

.header-setbtn-icon.color{
	filter: invert(94%) sepia(93%) saturate(0%) hue-rotate(238deg) brightness(107%) contrast(105%);
}

.header-setbtn:hover {
	background-color: #0515240F;
}

.header-menuwindow{
	position: absolute;
	width: 250px;
	top: 93px;
	left: 119px;
	background-color: white;
	border-radius: 3px;
	box-shadow: 0 4px 8px -2px rgba(9, 30, 66, 0.25), 0 0 1px rgba(9, 30, 66, 0.31);
	padding: 6px 0px;
	z-index: 998;
	display: none;
}

.header-menuwindow.show{
	display: block;
}

.menuwindow-optionbox{
	width: 244px;
	padding-bottom: 6px;
	border-bottom: 1px solid #091E4224;
}

.menuwindow-optionbtn, .menuwindow-optionbtn-bg{
	width: 250px;
	height: 40px;
	padding: 7px 20px;
	display: flex;
	align-items: center;
	gap: 16px;
	font-size: 14px;
}

.menuwindow-optionbtn:hover, .menuwindow-optionbtn-bg:hover{
	background-color: #0515240F;
}

.menuwindow-optionbtn-bg{
	position: relative;
}

.menuwindow-optionbtn-bg.active{
	background-color: #E9F2FE;
	border-left: 2px solid #0C66E4;
	padding-left: 18px;
}

.menuwindow-optionbtn-bg > span > img{
	filter: invert(11%) sepia(9%) saturate(627%) hue-rotate(190deg) brightness(93%) contrast(85%);
}

.menuwindow-optionbtn-bg.active > span > img{
	filter: invert(20%) sepia(86%) saturate(3790%) hue-rotate(209deg) brightness(100%) contrast(90%);
}

.menuwindow-deletebox{
	width: 244px;
	padding-top: 6px;
}

.header-setbgbox{
	position: absolute;
	width: 356px;
	top: 0px;
	left: 258px;
	padding: 11px 12px;
	background-color: white;
	border-radius: 3px;
	box-shadow: 0 4px 8px -2px rgba(9, 30, 66, 0.25), 0 0 1px rgba(9, 30, 66, 0.31);
	display: none;
}

.header-setbgbox.show{
	display: block;
}

.setbg-headbar{
	display: flex;
	align-items: center;
	font-size: 14px;
	font-weight: bolder;
	color: #172B4D;
	justify-content: space-between;
	height: 32px;
}

.setbg-title{
	padding: 8px 0px;
	color: #172B4D;
	font-size: 12px;
	font-weight: bolder;
}

.setbg-colorpalette{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 8px;
	margin-bottom: 12px;
	z-index: 2000;
}

.colorpallette-colorbtn{
	width: 26px;
	height: 26px;
	border: 1px solid #091E4229;
	border-radius: 3px;
}

.colorpallette-colorbtn:hover{
	outline-offset: 1px;
	outline: 2px solid #6B778C;
}

.colorpalette-currentcolor{
	outline-offset: 1px;
	outline: 2px solid #0C66E4;
}

.setbg-uploadbox{
	text-align: center;
	color: #626F86;
	padding: 12px 16px;
	margin: 10px 0px 10px 12px;
	width: 308px;
	height: 60px;
	line-height: 16px;
	border-radius: 12px;
	font-size: 11px;
	background-image: linear-gradient(to right, transparent 50%, var(--ds-border, #DFE1E6) 50%), linear-gradient(to right, transparent 50%, var(--ds-border, #DFE1E6) 50%), linear-gradient(to bottom, transparent 50%, var(--ds-border, #DFE1E6) 50%), linear-gradient(to bottom, transparent 50%, var(--ds-border, #DFE1E6) 50%);
	background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
	background-size: 16px 1px, 16px 1px, 1px 16px, 1px 16px;
	background-position: left top, left bottom, left top, right top;
}

.uploadimgbtn{
	font-size: 14px;
	color: #0C66E4;
	margin: 0px 2px;
	cursor: pointer;
}

.uploadimgbtn:hover{
	text-decoration: underline;
}

.header-prjset {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header-prjset span {
	display: flex;
	align-items: center;
}

.prjsetbtn {
	display: flex;
	align-items: center;
	color: #172B4D;
	padding: 4px 9px 4px 8px;
	border-radius: 3px;
	margin-right: -1px;
}

.prjsetbtn:hover {
	background-color: #091E420F;
}

.header-menubar {
	border: none;
	display: flex;
	align-items: center;
	color: #505258;
	height: 35px;
	font-size: 14px;
	gap: 14px;
	padding: 0;
	margin-top: 3px;
	margin-left: 2px;
}

.header-menubar a {
	margin: 0;
	display: flex;
	align-items: center;
}

.menu-icon-box {
	height: 35px;
	display: flex;
	padding: 7px 4px 10px 5px;
	cursor: default;
}

.menu-text{
	margin-bottom: 2px;
}

.menu-icon {
	width: 16px;
	margin-top: 4px;
	margin-right: 6px;
}

.menubar-menubtn {
	margin-left: 4px;
	width: 24px;
	height: 24px;
	color: #44546F;
	padding-top: 1px;
	border-radius: 3px;
	background-color: #F1F2F4;

}

.menubar-menubtn:hover {
	background-color: #091E420F;
}