.setting_aside{
	width: 240px;
}

.setting_aside .title_box{
	padding: 0 16px;
	padding-top: 12px;
	padding-bottom: 4px;
}

.back_btn_box{
	margin-bottom: 16px;
	font-weight: bold;
	
	display: flex;
	gap: 8px;
	align-items: center;
}

.project_info_box{
	font-size: 14px;
	
	display: flex;
	gap: 8px;
	align-items: center;
}

.project_info_box p{
	color: #6b6e76;
	font-size: 12px;
}

.setting_lnb{
	padding: 16px;
}

.setting_lnb .setting_aside_btn{
	line-height: 32px;
	
	margin: 4px 0;
	
	border-radius: 4px;
	font-size: 14px;
	
	display: flex;
	align-items: center;
	
	cursor: pointer;
}

.setting_lnb .setting_aside_btn{
	color: #6b6e76;
}

.setting_lnb .setting_aside_btn.paddingLeft{
	padding-left: 24px;
}

.setting_lnb  .setting_aside_btn .img_box{
	width: 32px;
	height: 32px;
	
	display: flex;
	justify-content: center;
	align-items: center;
}

.setting_lnb  .setting_aside_btn.active{
	color: #1868db;
	background-color: #e9f2fe;
}

.accent_btn {
  position: relative;
  border-radius: 4px;
}

.setting_aside_btn.active:hover {
  background-color: #cfe1fd;
}

.setting_aside_btn:hover {
  background-color: #e9edf3a6;
}

.setting_aside_btn.active > .accent_border{
	display: block;
}

.accent_btn > .accent_border {
  display: none;
  width: 2px;
  height: 12px;
  background-color: #1868db;

  position: absolute;
  left: 0;
}

.setting_aside .issue_type_box.show{
	display: block;
}

.setting_aside .issue_type_box{
	display: none;
}

.setting_aside .issue_type_box > div a{
	width: 100%;
	line-height: 32px;
	
	font-size: 14px;
	
	display: flex;
	align-items: center;
}

.setting_aside .issue_type_box > div:nth-of-type(1) a:last-of-type{
	border-bottom: 2px solid #eee;
}

.setting_aside .issue_type_box > div:nth-of-type(3) a:first-of-type{
	border-top: 2px solid #eee;
}