.toast_message {
	position: fixed;
	z-index: 999;
	bottom: 20px;
	left: 250px;
	transform: translateX(-50%);
	background-color: rgba(0, 0, 0, 0.8);
	color: white;
	padding: 10px 20px;
	border-radius: 8px;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.5s ease, visibility 0.5s;
}

.toast_message.show {
	opacity: 1;
	visibility: visible;
	transform: translateX(-50%) translateY(0);
}