<!doctype html>
<html lang="ko">
	
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}">
	<title>jira_project</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/reset.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/login_need_password.css}">
</head>
<body>
	<div class="login_need_pw_box">
		<h1>
			<img src="/images/logo.svg" />
		</h1>
		<div class="content">
			<div class="title">
				<h2 th:text="${account.name}"></h2>
				<div class="user_info">
					<img th:src="@{|/images/${account.iconFilename}|}" width="24" height="24"/>
					<input th:value="${account.email}" id="username" name="username" readonly/>
				</div>
			</div>
			<div class="input_box">
				<div class="password_input_box">
					<label for="password">비밀번호 입력</label>
					<input type="password" id="password" name="password" />
				</div>
				<div class="password_view_check_box">
					<input type="checkbox" id="userPwView" name="userPwView" />
					<label for="userPwView" disabled>비밀번호 표시</label>
				</div>
			</div>
		</div>
		<div class="footer">
			<div class="btn_box">
				<button th:idx-data="${jiraIdx}">로그인</button>
			</div>
		</div>
	</div>
	<script src="/js/login_need_password.js"></script>
</body>
</html>