<!doctype html>
<html lang="ko">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" type="text/css" th:href="@{/css/signup.css}">
	<title>jira_project</title>
</head>
<div style="display: flex;">
	<div class="signup-container">
		<div class="signup-header">
			<div class="top-logo">
				<img src="/images/logo.svg" width="100">
			</div>
			<span class="signup-text">계속하려면 가입하세요.</span>
		</div>
		<div class="signup-content">
			<form th:action="@{/account/signup}" th:object="${createUserForm}" method="post">
				<div class="top-input">
					<label for="email" class="form-label">이메일</label>
					<input type="email" name="email" th:field="*{email}" placeholder="이메일을 입력하세요" class="borderline">
				</div>
				<div  th:if="${#fields.hasErrors('email')}" class="alert-box">
					<img src="/images/alaret_icon.svg" width="12" height="12" style="filter: invert(23%) sepia(32%) saturate(4753%) hue-rotate(344deg) brightness(90%) contrast(93%);">
		            <div class="alert alert-danger" th:errors="*{email}"></div>
		        </div>
				<div class="other-input">
					<label for="username" class="form-label">사용자 이름</label>
					<input type="text" name="username" th:field="*{username}" placeholder="Jira에서 사용될 이름을 입력하세요" class="borderline">
				</div>
				<div th:if="${#fields.hasErrors('username')}" class="alert-box">
					<img src="/images/alaret_icon.svg" width="12" height="12" style="filter: invert(23%) sepia(32%) saturate(4753%) hue-rotate(344deg) brightness(90%) contrast(93%);">
		            <div class="alert alert-danger" th:errors="*{username}"></div>
		        </div>
				<div class="other-input">
					<label for="pw" class="form-label">비밀번호</label>
					<input type="password" name="pw" th:field="*{pw}" placeholder="비밀번호를 입력하세요" class="borderline">
				</div>
				<div th:if="${#fields.hasErrors('pw')}" class="alert-box">
					<img src="/images/alaret_icon.svg" width="12" height="12" style="filter: invert(23%) sepia(32%) saturate(4753%) hue-rotate(344deg) brightness(90%) contrast(93%);">
		            <div class="alert alert-danger" th:errors="*{pw}"></div>
		        </div>
				<div class="other-input">
					<label for="checkpw" class="form-label">비밀번호 확인</label>
					<input type="password" name="checkpw" th:field="*{checkpw}" placeholder="비밀번호가 일치한지 확인해 주세요" class="borderline">
				</div>
				<div th:if="${#fields.hasErrors('checkpw')}" class="alert-box">
					<img src="/images/alaret_icon.svg" width="12" height="12" style="filter: invert(23%) sepia(32%) saturate(4753%) hue-rotate(344deg) brightness(90%) contrast(93%);">
		            <div class="alert alert-danger" th:errors="*{checkpw}"></div>
		        </div>
				<div>
					<button class="next-btn">계속</button>
				</div>
			</form>
			<div style="align-items: center;">
				<div class="login">
					<a th:href="@{/account/login}">이미 가입하셨나요? </a>
					<a th:href="@{/account/login}" style="font-weight: bold;">로그인</a>
				</div>
				<hr class="line">
			</div>
			<div class="under-logo">
				<img src="/images/under_logo.svg" width="70">
			</div>
			<div class="terms-text">
				<p>코리아 IT 아카데미 정처산기B 4조</p>
				<P>김대완, 남다현, 방준혁</P>
			</div>
		</div>
	</div>
<script th:src="@{/js/signup.js}"></script>
</div>
</html>