<div th:fragment="asideFragment">

	<head>
		<link rel="stylesheet" type="text/css" th:href="@{/css/aside.css}">
	</head>
	<aside>
		<div class="aside_container">
			<a href="/" class="my_work aside_item_box accent_btn">
				<div class="accent_border"></div>
				<div class="aside_item_view">
					<div class="img_box">
						<img src="/images/aside_my_work_icon.svg" alt="" width="24" height="24" />
					</div>
					<span>내 작업</span>
				</div>
			</a>
			<div class="aside_item_box view_right_box_btn">
				<button class="aside_item_btn">
					<div class="aside_item_view">
						<div class="img_box">
							<img src="/images/aside_recent_icon.svg" alt="" width="24" height="24" />
						</div>
						<span>최근</span>
					</div>
					<div class="img_box">
						<img src="/images/arrow_right_icon.svg" alt="" width="12" height="12" />
					</div>
				</button>
				<div class="aside_click_view_container">
					<div class="title_box">
						<h2>최근</h2>
						<div class="recent_search_input">
							<div class="input_box">
								<label for="recent_search">
									<img src="/images/search_icon.svg" alt="" width="16" height="16" />
								</label>
								<input type="text" id="recent_search" placeholder="최근 항목 검색" />
							</div>
						</div>
					</div>
					<div class="main_box">
						<div class="recent_list_box" th:if="${#lists.size(todayRecentList) > 0}">
							<h2>오늘</h2>
							<div>
								<a href="#" class="recent_item accent_btn"
								   th:each="item : ${todayRecentList}">
									<div class="accent_border"></div>
									<img th:src="@{|/images/${item.iconFilename}|}"
										alt="" style="border-radius: 2px" width="24" height="24" />
									<div class="recent_item_comment">
										<span th:text="${item.name}"></span>
										<span class="date" 
										      th:text = "${item.elapsedTime}"></span>
									</div>
								</a>
							</div>
						</div>
						<div class="recent_list_box" th:if="${#lists.size(yesterdayRecentList) > 0}">
							<h2>어제</h2>
							<div>
								<a href="#" class="recent_item accent_btn"
								   th:each="item : ${yesterdayRecentList}">
									<div class="accent_border"></div>
									<img th:src="@{|/images/${item.iconFilename}|}" alt="" width="24" height="24" />
									<div class="recent_item_comment">
										<span th:text="${item.name}"></span>
										<span class="date"
											  th:text="${item.elapsedTime}"></span>
									</div>
								</a>
							</div>
						</div>
						<div class="recent_list_box" th:if="${#lists.size(thisWeekRecentList) > 0}">
							<h2>이번주</h2>
							<div>
								<a href="#" class="recent_item accent_btn"
							       th:each="item : ${thisWeekRecentList}">
									<div class="accent_border"></div>
									<img th:src="@{|/images/${item.iconFilename}|}" alt="" width="24" height="24" />
									<div class="recent_item_comment">
										<span th:text="${item.name}"></span>
										<span class="date"
											  th:text="${item.elapsedTime}"></span>
									</div>
								</a>
							</div>
						</div>
						<div class="recent_list_box" th:if="${#lists.size(monthRecentList) > 0}">
							<h2>이번 달</h2>
							<div>
								<a href="#" class="recent_item accent_btn"
								   th:each="item : ${monthRecentList}">
									<div class="accent_border"></div>
									<img th:src="@{|/images/${item.iconFilename}|}" alt="" width="24" height="24" />
									<div class="recent_item_comment">
										<span th:text="${item.name}"></span>
										<span class="date"
											  th:text="${item.elapsedTime}"></span>
									</div>
								</a>
							</div>
						</div>
						<div class="recent_list_box" th:if="${#lists.size(monthGreaterRecentList) > 0}">
							<h2>한 달 이상</h2>
							<div>
								<a href="#" class="recent_item accent_btn"
								   th:each="item : ${monthGreaterRecentList}">
									<div class="accent_border"></div>
									<img th:src="@{|/images/${item.iconFilename}|}" alt="" width="24" height="24" />
									<div class="recent_item_comment">
										<span th:text="${item.name}"></span>
										<span class="date"
											  th:text="${item.elapsedTime}"></span>
									</div>
								</a>
							</div>
						</div>
					</div>
					<a href="#" class="all_view_btn_box">
						<img src="/images/all_view_btn_icon.svg" alt="" width="24" height="24" />
						<span>최근 항목 모두 보기</span>
					</a>
				</div>
			</div>
			<div class="aside_item_box view_right_box_btn">
				<button class="aside_item_btn">
					<div class="aside_item_view">
						<div class="img_box">
							<img src="/images/aside_star_icon.svg" alt="" width="24" height="24" />
						</div>
						<span>별표 표시됨</span>
					</div>
					<div class="img_box">
						<img src="/images/arrow_right_icon.svg" alt="" width="12" height="12" />
					</div>
				</button>
				<div class="aside_click_view_container">
					<div class="title_box">
						<h2>별표 표시됨</h2>
						<div class="like_search_input">
							<div class="input_box">
								<label for="recent_search">
									<img src="/images/search_icon.svg" alt="" width="16" height="16" />
								</label>
								<input type="text" id="recent_search" placeholder="별표 표시된 항목 검색" />
							</div>
							<div class="like_filter_container">
								<div class="img_box">
									<img src="/images/filter_icon.svg" alt="" width="24" height="24" />
								</div>
								<div class="like_filter_box">
									<button type="button" class="active">
										<img src="/images/all_view_btn_icon.svg" alt="" width="24" height="24" />
										<span>전체</span>
									</button>
									<button type="button">
										<img src="/images/filter_icon.svg" alt="" width="24" height="24" />
										<span>필터</span>
									</button>
									<button type="button">
										<img src="/images/dashboard_icon.svg" alt="" width="24" height="24" />
										<span>대시보드</span>
									</button>
									<button type="button">
										<img src="/images/aside_project_icon.svg" alt="" width="24" height="24" />
										<span>프로젝트</span>
									</button>
								</div>
							</div>
						</div>
						<div class="filter_select_result_box">
							선택됨:
							<div class="filter_select_result_item">
								<span>보드</span>
							</div>
						</div>
						<div class="like_content_list">
							<a href="#" class="like_item_box accent_btn"
							   th:each="item : ${allLikeMembers}">
								<div class="accent_border"></div>
								<div class="like_item">
									<img th:src="@{|/images/${item.iconFilename}|}" alt="" width="24" height="24" />
									<span th:text="${item.name}"></span>
								</div>
								<button class="img_box">
									<img src="/images/star_icon_yellow.svg"
										 th:type-data="${item.iconFilename == 'dashboard_icon.svg' ? 'dashboard' : 
										                 item.iconFilename == 'filter_icon.svg' ? 'filter' : 'project'}"
										 th:idx-data="${item.idx}"
									     alt="" width="16" height="16" />
								</button>
							</a>
							<div class="no_search_box"
								 th:if="${#lists.size(allLikeMembers) == 0}">
								<img src="/images/no_search_icon_light.svg">
								<p>원하는 항목을 찾을 수 없습니다.</p>
							</div>
						</div>
						<div class="like_content_dynamic"></div>
						<a href="#" class="all_view_btn_box">
							<img src="/images/all_view_btn_icon.svg" alt="" width="24" height="24" />
							<span>별표 표시된 항목 모두 보기</span>
						</a>
					</div>
				</div>
			</div>
			<div class="more_item_container">
				<div class="aside_item_box view_under_box_btn view_more_box">
					<button class="aside_item_btn">
						<div class="aside_item_view">
							<div class="img_box mouseout">
								<img src="/images/aside_project_icon.svg" alt="" width="24" height="24" />
							</div>
							<div class="img_box mouseover">
								<img src="/images/arrow_right_icon.svg" alt="" width="12" height="12" />
							</div>
							<span>프로젝트</span>
						</div>
						<div class="img_container">
							<!-- js에서 a태그 처리 -->
							<div class="img_box" th:data-jira-name="${currentJira}" th:onclick="goProjectCreatePage(this)">
								<img src="/images/plus_icon.svg" alt="" width="12" height="12" />
							</div>
							<div class="img_box aside_more">
								<img src="/images/three_dots_row_icon.svg" alt="" width="12" height="12" />
							</div>
						</div>
					</button>
				</div>
				<div class="more_sub_box aside_more">
					<button class="more_sub_item">
						<img src="/images/aside_hide_icon.svg" alt="" width="24" height="24" />
						<span>사이드바에서 숨기기</span>
					</button>
				</div>
			</div>
			<div class="aside_more_box">
				<div th:if="${#lists.size(projectLikeMembers) != 0}">
					<h2>별표 표시됨</h2>
					<div class="more_item_list"
					     th:each="item : ${projectLikeMembers}">
						<div class="more_item_container">
							<a th:href="@{|/${item.jiraName}/project/${item.key}/summation|}" class="more_item_box view_more_box accent_btn">
								<div class="accent_border"></div>
								<div class="more_item">
									<img th:src="@{|/images/${item.iconFilename}|}"
										alt="" width="20" height="20" style="border-radius: 4px" />
									<span th:text="${item.name}"></span>
								</div>
								<div class="img_container">
									<div class="img_box aside_more">
										<img src="/images/three_dots_row_icon.svg" alt="" width="12" height="12" />
									</div>
								</div>
							</a>
							<div class="more_sub_box aside_more">
								<button class="more_sub_item star">
									<img src="/images/star_icon_yellow.svg" 
										 type-data="project"
										 th:idx-data="${item.idx}"
										 alt="" width="16" height="16" />
									<span>별표 표시 목록에서 제거</span>
								</button>
								<button class="more_sub_item">
									<img src="/images/user_icon.svg" alt="" width="16" height="16" />
									<span>사용자 추가</span>
								</button>
								<a href="#" class="more_sub_item">
									<img src="/images/setting_icon.svg" alt="" width="16" height="16" />
									<span>프로젝트 설정</span>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div th:if="${#lists.size(projectRecentList) != 0}">
					<h2>최근</h2>
					<div class="more_item_list"
					     th:each="item : ${projectRecentList}">
						<div class="more_item_container">
							<a th:href="@{|/${item.jira.name}/project/${item.key}/summation|}" class="more_item_box view_more_box accent_btn">
								<div class="accent_border"></div>
								<div class="more_item">
									<img th:src="@{|/images/${item.iconFilename}|}"
										alt="" width="20" height="20" style="border-radius: 4px" />
									<span th:text="${item.name}"></span>
								</div>
								<div class="img_container">
									<div class="img_box aside_more">
										<img src="/images/three_dots_row_icon.svg" alt="" width="12" height="12" />
									</div>
								</div>
							</a>
							<div class="more_sub_box aside_more">
								<button class="more_sub_item star">
									<img src="/images/star_icon_empty.svg" 
									     type-data="project"
										 th:idx-data="${item.idx}" 
									     alt="" width="16" height="16" />
									<span>별표 표시 목록에 추가</span>
								</button>
								<button class="more_sub_item">
									<img src="/images/user_icon.svg" alt="" width="16" height="16" />
									<span>사용자 추가</span>
								</button>
								<a href="#" class="more_sub_item">
									<img src="/images/setting_icon.svg" alt="" width="16" height="16" />
									<span>프로젝트 설정</span>
								</a>
							</div>
						</div>
					</div>
					<div>
						<a th:href="@{|/${currentJira}/project/list|}" class="more_item_box accent_btn">
							<div class="accent_border"></div>
							<div class="more_item">
								<img src="/images/all_view_btn_icon.svg" alt="" width="20" height="20" />
								<span>모든 프로젝트 보기</span>
							</div>
						</a>
					</div>
				</div>
			</div>
			<div class="more_item_container">
				<div class="aside_item_box view_under_box_btn view_more_box">
					<button class="aside_item_btn">
						<div class="aside_item_view">
							<div class="img_box mouseout">
								<img src="/images/filter_icon.svg" alt="" width="24" height="24" />
							</div>
							<div class="img_box mouseover">
								<img src="/images/arrow_right_icon.svg" alt="" width="12" height="12" />
							</div>
							<span>필터</span>
						</div>
						<div class="img_container">
							<div class="img_box aside_more">
								<img src="/images/three_dots_row_icon.svg" alt="" width="12" height="12" />
							</div>
						</div>
					</button>
					<div></div>
				</div>
				<div class="more_sub_box aside_more">
					<button class="more_sub_item">
						<img src="/images/aside_hide_icon.svg" alt="" width="24" height="24" />
						<span>사이드바에서 숨기기</span>
					</button>
				</div>
			</div>
			<div class="aside_more_box">
				<a href="#" id="filter_move" class="more_item_box accent_btn">
					<div class="accent_border"></div>
					<div class="more_item">
						<img src="/images/search_icon.svg" alt="" width="16" height="16" />
						<span>이슈 검색</span>
					</div>
				</a>
				<div th:if="${#lists.size(filterLikeMembers) != 0}">
					<h2>별표 표시됨</h2>
					<div class="more_item_list" 
						 th:each="item : ${filterLikeMembers}">
						<div class="more_item_container">
							<a th:href="@{|/${currentJira}/filter/filter_issue?filter=${item.idx}|}" class="more_item_box view_more_box accent_btn">
								<div class="accent_border"></div>
								<div class="more_item">
									<img src="/images/filter_icon.svg" alt="" width="24" height="24" />
									<span th:text="${item.name}"></span>
								</div>
								<div class="img_container">
									<div class="img_box aside_more">
										<img src="/images/three_dots_row_icon.svg" alt="" width="12" height="12" />
									</div>
								</div>
							</a>
							<div class="more_sub_box aside_more">
								<button class="more_sub_item star">
									<img src="/images/star_icon_yellow.svg" 
									     type-data="filter"
										 th:idx-data="${item.idx}"
									     alt="" width="16" height="16" />
									<span>별표 표시 목록에서 제거</span>
								</button>
								<button class="more_sub_item">
									<img src="/images/post_icon.svg" alt="" width="16" height="16" />
									<span>구독 관리</span>
								</button>
								<button class="more_sub_item">
									<img src="/images/filter_copy_icon.svg" alt="" width="16" height="16" />
									<span>필터 복사</span>
								</button>
								<button class="more_sub_item">
									<img src="/images/filter_edit_icon.svg" alt="" width="16" height="16" />
									<span>필터 편집</span>
								</button>
							</div>
						</div>
					</div>
				</div>
<!----필터 최근 시작 ------------------------------------------------------------->
				<div th:if="${#lists.size(filterRecentList) != 0}">
					<h2>최근</h2>
					<div class="more_item_list" 
					     th:each="item : ${filterRecentList}">
						<div class="more_item_container">
							<a th:href="@{|/${currentJira}/filter/filter_issue?filter=${item.idx}|}" class="more_item_box view_more_box accent_btn">
								<div class="accent_border"></div>
								<div class="more_item">
									<img src="/images/filter_icon.svg" alt="" width="24" height="24" />
									<span th:text="${item.name}"></span>
								</div>
								<div class="img_container">
									<div class="img_box aside_more">
										<img src="/images/three_dots_row_icon.svg" alt="" width="12" height="12" />
									</div>
								</div>
							</a>
							<div class="more_sub_box aside_more">
								<button class="more_sub_item star">
									<img src="/images/star_icon_empty.svg" 
									     type-data="filter"
										 th:idx-data="${item.idx}"
										 alt="" width="16" height="16" />
									<span>별표 표시 목록에 추가</span>
								</button>
								<button class="more_sub_item">
									<img src="/images/post_icon.svg" alt="" width="16" height="16" />
									<span>구독 관리</span>
								</button>
								<button class="more_sub_item">
									<img src="/images/filter_copy_icon.svg" alt="" width="16" height="16" />
									<span>필터 복사</span>
								</button>
								<button class="more_sub_item">
									<img src="/images/filter_edit_icon.svg" alt="" width="16" height="16" />
									<span>필터 편집</span>
								</button>
							</div>
						</div>
					</div>
					<button class="more_item_box default_filter_btn">
						<div class="more_item">
							<div class="img_box">
								<img src="/images/arrow_right_icon.svg" alt="" width="12" height="12" />
							</div>
							<span>기본값 필터</span>
						</div>
					</button>
					<div class="more_item_list default_filter_box">
						<div class="more_item_container" th:each="filter, loop : ${filterList}" th:if="${loop.index} < 8">
							<a th:href="@{|/${currentJira}/filter/filter_issue?filter=${filter.idx}|}" class="more_item_box view_more_box accent_btn">
								<div class="accent_border"></div>
								<div class="more_item">
									<img src="/images/filter_icon.svg" alt="" width="24" height="24" />
									<span th:text="${filter.name}"></span>
								</div>
								<div class="img_container">
									<div class="img_box aside_more">
										<img src="/images/three_dots_row_icon.svg" alt="" width="12" height="12" />
									</div>
								</div>
							</a>
							<div class="more_sub_box aside_more">
								<button class="more_sub_item star">
									<img src="/images/star_icon_empty.svg" alt="" width="16" height="16" />
									<span>별표 표시 목록에 추가</span>
								</button>
								<button class="more_sub_item">
									<img src="/images/filter_copy_icon.svg" alt="" width="16" height="16" />
									<span>필터 복사</span>
								</button>
							</div>
						</div>
					</div>
				</div>
				<a th:href="@{|/${currentJira}/filter/every_filter|}" class="more_item_box accent_btn">
					<div class="accent_border"></div>
					<div class="more_item">
						<img src="/images/all_view_btn_icon.svg" alt="" width="20" height="20" />
						<span>모든 필터 보기</span>
					</div>
				</a>
			</div>
			<div class="more_item_container">
				<div class="aside_item_box view_under_box_btn view_more_box">
					<button class="aside_item_btn">
						<div class="aside_item_view">
							<div class="img_box mouseout">
								<img src="/images/dashboard_icon.svg" alt="" width="24" height="24" />
							</div>
							<div class="img_box mouseover">
								<img src="/images/arrow_right_icon.svg" alt="" width="12" height="12" />
							</div>
							<span>대시보드</span>
						</div>
						<div class="img_container">
							<div class="img_box" onclick="showDashboardCreate()">
								<img src="/images/plus_icon.svg" alt="" width="12" height="12" />
							</div>
							<div class="img_box aside_more">
								<img src="/images/three_dots_row_icon.svg" alt="" width="12" height="12" />
							</div>
						</div>
					</button>
				</div>
				<div class="more_sub_box aside_more">
					<button class="more_sub_item">
						<img src="/images/aside_hide_icon.svg" alt="" width="24" height="24" />
						<span>사이드바에서 숨기기</span>
					</button>
				</div>
			</div>
			<div class="aside_more_box">
				<div th:if="${#lists.size(dashboardLikeMembers) != 0}">
					<h2>별표 표시됨</h2>
					<div class="more_item_list" 
			             th:each="item : ${dashboardLikeMembers}">
						<div class="more_item_container">
							<a th:href="@{|/${currentJira}/dashboard/detail/${item.idx}|}" 
							   class="more_item_box view_more_box accent_btn">
								<div class="accent_border"></div>
								<div class="more_item">
									<img src="/images/dashboard_icon.svg" alt="" width="24" height="24" />
									<span th:text="${item.name}"></span>
								</div>
								<div class="img_container">
									<div class="img_box aside_more">
										<img src="/images/three_dots_row_icon.svg" alt="" width="12" height="12" />
									</div>
								</div>
							</a>
							<div class="more_sub_box aside_more dashboard">
								<button class="more_sub_item star">
									<img src="/images/star_icon_yellow.svg" 
										 type-data="dashboard"
										 th:idx-data="${item.idx}"
									alt="" width="16" height="16" />
									<span>별표 표시 목록에서 제거</span>
								</button>
							</div>
						</div>
					</div>
				</div>
				<div th:if="${#lists.size(dashboardRecentList) != 0}">
					<h2>최근</h2>
					<div class="more_item_list"
					     th:each="item : ${dashboardRecentList}">
						<div class="more_item_container">
							<a th:href="@{|/${currentJira}/dashboard/detail/${item.idx}|}" 
							   class="more_item_box view_more_box accent_btn">
								<div class="accent_border"></div>
								<div class="more_item">
									<img src="/images/dashboard_icon.svg" alt="" width="24" height="24" />
									<span th:text="${item.name}"></span>
								</div>
								<div class="img_container">
									<div class="img_box aside_more">
										<img src="/images/three_dots_row_icon.svg" alt="" width="12" height="12" />
									</div>
								</div>
							</a>
							<div class="more_sub_box aside_more dashboard">
								<button class="more_sub_item star">
									<img src="/images/star_icon_empty.svg" 
										 type-data="dashboard"
										 th:idx-data="${item.idx}"	
										 alt="" width="16" height="16" />
									<span>별표 표시 목록에 추가</span>
								</button>
							</div>
						</div>
					</div>
					<div>
						<a th:href="@{|/${currentJira}/dashboard/list|}" class="more_item_box accent_btn">
							<div class="accent_border"></div>
							<div class="more_item">
								<img src="/images/all_view_btn_icon.svg" alt="" width="20" height="20" />
								<span>대시보드 모두 보기</span>
							</div>
						</a>
					</div>
				</div>
			</div>
			<div class="more_item_container">
				<a th:href="@{|/${currentJira}/team/list|}" class="team aside_item_box accent_btn view_more_box">
					<div class="accent_border"></div>
					<button class="aside_item_btn">
						<div class="aside_item_view">
							<img src="/images/aside_team_icon.svg" alt="" width="24" height="24" />
							<span>팀</span>
						</div>
						<div class="img_container">
							<div class="img_box aside_plus">
								<img src="/images/plus_icon.svg" alt="" width="12" height="12" />
							</div>
							<div class="img_box aside_more">
								<img src="/images/three_dots_row_icon.svg" alt="" width="12" height="12" />
							</div>
						</div>
					</button>
				</a>
				<div class="more_sub_box aside_plus">
					<button class="more_sub_item">
						<img src="/images/user_icon.svg" alt="" width="16" height="16" />
						<span>사용자 추가</span>
					</button>
					<button class="more_sub_item">
						<img src="/images/team_create_icon.svg" alt="" width="16" height="16" />
						<span>팀 만들기</span>
					</button>
				</div>
				<div class="more_sub_box aside_more">
					<button class="more_sub_item">
						<img src="/images/aside_hide_icon.svg" alt="" width="24" height="24" />
						<span>사이드바에서 숨기기</span>
					</button>
				</div>
			</div>
		</div>
		<div class="feedback_box">
			<button>
				<img src="/images/feedback_icon.svg" alt="" width="16" height="16" />
				<span>새 탐색에 대한 피드백 제공</span>
			</button>
		</div>
	</aside>
	<script th:src="@{/js/aside.js}"></script>
</div>