<div th:fragment="jiraUserAddFragment" class="jira_user_add_modal">
	<head>
		<link rel="stylesheet" type="text/css" th:href="@{/css/jira_user_add.css}">
	</head>
	<div class="jira_user_add_container">
		<div class="jira_user_add_box">
			<h2>Jira에 사용자 추가</h2>
			<div class="input_box">
				<label for="jiraUserName">이메일<span class="not_null_check">*</span></label>
				<input type="email" id="jiraUserName" name="jiraUserName" placeholder="예: maria@company.com" />
				<div class="jira_alert_box">
					<img src="/images/alaret_icon.svg" width="12" height="12"/>
					<span class="comment"></span>
				</div>
			</div>
			<p>이 사이트는 reCAPTCHA 기술로 보호되며 Google <a th:href="@{#}">개인 정보 보호 정책<img th:src="@{/images/new_tab_icon.svg}"
						width="10" height="10" /></a> 및 <a th:href="@{#}">이용약관<img th:src="@{/images/new_tab_icon.svg}"
						width="10" height="10" /></a>이(가) 적용됩니다.
			</p>
			<div class="btn_box">
				<button class="cancle_btn">취소</button>
				<button class="jira_user_add_btn">추가</button>
			</div>
		</div>
	</div>
	<script th:src="@{/js/jira_user_add.js}"></script>
</div>