<!doctype html>
<html lang="ko">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>JIRA</title>
	<link rel="stylesheet" type="text/css" href="https://kritac-jira.site/css/reset.css">
	<link rel="stylesheet" type="text/css" href="https://kritac-jira.site/css/jira_user_add_send_email.css">
</head>
<body>
	<div class="jira_invite_email_box">
		<h1>
			<img src="https://kritac-jira.site/images/logo.svg"/>
		</h1>
		<div class="content">
			<h2>관리자가 당신을 Jira에 초대했습니다.</h2>
			<p>관리자 및 팀과 함께 계획 및 추적 작업을 시작하세요. 당신의 작업을 공유하고 팀이 무엇을 하고 있는지 볼 수 있습니다.</p>
			<a href="https://kritac-jira.site" class="agree_btn">초대 수락</a>
		</div>
		<div class="footer">
			<span>코리아 IT 아카데미 정처산기B 4조</span>
			<span>김대완, 남다현, 방준혁</span>
		</div>
	</div>
</body>
</html>