<!doctype html>
<html lang="ko">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>JIRA</title>
	<style>
		
	</style>
</head>
<body>
	<div class="jira_invite_email_box">
		<h1>
			<img src="/images/logo.svg"/>
		</h1>
		<h2>관리자가 당신을 Jira에 초대했습니다.</h2>
		<p>관리자 및 팀과 함께 계획 및 추적 작업을 시작하세요. 당신의 작업을 공유하고 팀이 무엇을 하고 있는지 볼 수 있습니다.</p>
		<button>초대 수락</button>
	</div>
</body>
<script>
	document.querySelector(".jira_invite_email_box button").addEventListener("click", function(){
		console.log("추가");
	});
</script>
</html>