<html layout:decorate="~{layout}">

<head>
	<link rel="stylesheet" type="text/css" th:href="@{/css/every_filter.css}">
</head>
<div layout:fragment="content">
	<div class="filtertop">
		<div class="filtertop_div">
			<h1>필터</h1>
			<a style="margin-top: 2px;" href="filter_issue"><span>필터 만들기</span></a>
		</div>
		<div class="everyfilter_category">
			<div class="select_top_1" contenteditable="true">
				<input type="text" style="border: none; width: 158px;">
				<svg width="16" height="16" viewBox="0 0 24 24"
					role="presentation">
					<path fill="#5E6C84" fill-rule="evenodd"
						d="m16.436 15.085 3.94 4.01a1 1 0 0 1-1.425 1.402l-3.938-4.006a7.5 7.5 0 1 1 1.423-1.406M10.5 16a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11">
					</path>
				</svg>
			</div>
			<div class="select_top">
				<input class="menu_list" placeholder="소유자" style="border: none; padding-left: 8px; font-size: 14px; width: 168px">
					<div class="select_top_menu" >
						<div class="select_top_menue_list" style="background-color: #F4F5F7; width: 200px;">
						<div style="height: 16px; margin-right: 10px;"><img src="https://secure.gravatar.com/avatar/01b7a4ea5f56a651a5e667c6b8b9d579?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Fdefault-avatar-0.png"
						alt="" aria-hidden="true" data-vc="avatar-image" data-ssr-placeholder-ignored="true"
						class="css-1gr7gcv" style="border-radius: 50%; width: 16px; height: 16px; ">
						</div>
						방준혁
						</div>
					</div>
				<div style="border: none; background-color: transparent; height: 24px;"><svg width="24" height="24"
						viewBox="0 0 24 24" role="presentation">
						<path fill="#42526E" fill-rule="evenodd"
							d="M8.292 10.293a1.01 1.01 0 0 0 0 1.419l2.939 2.965c.218.215.5.322.779.322s.556-.107.769-.322l2.93
2.955a1.01 1.01 0 0 0 0-1.419.987.987 0 0 0-1.406 0l-2.298 2.317-2.307-2.327a.99.99 0 0 0-1.406 0">
						</path>
					</svg></div>
			</div>
			<div class="select_top">
				<input class="menu_list" placeholder="프로젝트" style="border: none; padding-left: 8px; font-size: 14px; width: 168px">
					<div class="select_top_menu" >
						<div class="select_top_menue_list" style="background-color: #F4F5F7; width: 200px;">
						<div style="height: 16px; margin-right: 10px;"><img src="https://secure.gravatar.com/avatar/01b7a4ea5f56a651a5e667c6b8b9d579?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Fdefault-avatar-0.png"
								alt="" aria-hidden="true" data-vc="avatar-image" data-ssr-placeholder-ignored="true"
										class="css-1gr7gcv" style="border-radius: 50%; width: 16px; height: 16px; ">
							</div>
						방준혁
					</div>
				</div>
				<div style="border: none; background-color: transparent; height: 24px;"><svg width="24" height="24"
						viewBox="0 0 24 24" role="presentation">
						<path fill="#42526E" fill-rule="evenodd"
							d="M8.292 10.293a1.01 1.01 0 0 0 0 1.419l2.939 2.965c.218.215.5.322.779.322s.556-.107.769-.322l2.93-2.955a1.01 1.01 0 0 0 0-1.419.987.987 0 0 0-1.406 0l-2.298 2.317-2.307-2.327a.99.99 0 0 0-1.406 0">
						</path>
					</svg></div>
			</div>
			<div class="select_top">
				<input class="menu_list" placeholder="그룹" style="border: none; padding-left: 8px; font-size: 14px; width: 168px">
					<div class="select_top_menu" >
						<div class="select_top_menue_list" style="background-color: #F4F5F7; width: 200px;">
							<div style="height: 16px; margin-right: 10px;"><img src="https://secure.gravatar.com/avatar/01b7a4ea5f56a651a5e667c6b8b9d579?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Fdefault-avatar-0.png"
								alt="" aria-hidden="true" data-vc="avatar-image" data-ssr-placeholder-ignored="true"
									class="css-1gr7gcv" style="border-radius: 50%; width: 16px; height: 16px; ">
							</div>
						방준혁
					</div>
				</div>
				<div style="border: none; background-color: transparent; height: 24px;"><svg width="24" height="24"
						viewBox="0 0 24 24" role="presentation">
						<path fill="#42526E" fill-rule="evenodd"
							d="M8.292 10.293a1.01 1.01 0 0 0 0 1.419l2.939 2.965c.218.215.5.322.779.322s.556-.107.769-.322l2.93-2.955a1.01 1.01 0 0 0 0-1.419.987.987 0 0 0-1.406 0l-2.298 2.317-2.307-2.327a.99.99 0 0 0-1.406 0">
						</path>
					</svg></div>
			</div>
		</div>
		<table class="table_th">
			
			<tr class="first_tr">
				<th style="height: 24px; align-items: center;">
					<svg width="14" height="14" viewBox="0 0 24 24" role="presentation" style="color: #5E6C84">
						<path fill="currentcolor" fill-rule="evenodd"
							d="m12.072 17.284-3.905 2.053a1 1 0 0 1-1.451-1.054l.745-4.349-3.159-3.08a1 1 0 0 1 .554-1.705l4.366-.635 1.953-3.956a1 1 0 0 1 1.794 0l1.952 3.956 4.366.635a1 1 0 0 1 .555 1.705l-3.16 3.08.746 4.349a1 1 0 0 1-1.45 1.054z">
						</path>
					</svg>
					<div class="triangle">
						<!--<button></button>
						<button></button>-->
					</div>
				</th>
				<th style="height: 26px;">이름</th>
				<th>소유자</th>
				<th>조회자</th>
				<th>편집기</th>
				<th>별표 표시</th>
			</tr>
			<tr class="second_tr" th:each="filterList, loop :${filterList}" th:if="${loop.index} > 7 "
				th:data-filter-idx="${filterList.idx}" th:data-account-idx="${filterList.account.idx}">
				<td class="like_start_icon" th:data-filter-idx="${filterList.idx}" th:data-account-idx="${filterList.account.idx}">
					<img src="/images/star_icon_empty.svg" width="14">
				</td>
				<td>
					<div>
						<a th:href="@{|./filter_issue?filter=${filterList.idx}|}"th:text="${filterList.name}"></a>
					</div>
				</td>
				<td>
					<div style=" display: flex;">
						<div style="height: 36; width: 28px; margin: 2px 6px 0px 2px;">
							<img src="https://secure.gravatar.com/avatar/01b7a4ea5f56a651a5e667c6b8b9d579?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Fdefault-avatar-0.png"
								alt="" aria-hidden="true" data-vc="avatar-image" data-ssr-placeholder-ignored="true"
								class="css-1gr7gcv" style="border-radius: 50%; width: 24px; height: 24px; ">
						</div>
						<div style="margin-top: 4px;" th:text="${filterList.account.name}"></div>
					</div>
				</td>
				<td>
					<div style="height: 32px; overflow: auto;">
						<div style="display: flex; height: 24px; margin-bottom: 4px;"  th:each="filterAuth :${filterAuth}" th:if="${filterList.idx == filterAuth.filter.idx && filterAuth.type == 1}">
							<div style="height: 36; width: 28px; margin: 2px 8px 0px 2px;">
								<img style="width: 24px;" th:src="@{|/images/${filterAuth.project != null? filterAuth.project.iconFilename : 'lock.svg'}|}">
								<img style="width: 24px;" th:src="@{|/images/${filterAuth.team != null? 'team.svg': ''}|}" th:if="${filterAuth.team != null}">
							</div>
								<div style="margin-top: 4px;" >
							<div>
								<div th:text="${filterAuth.project != null? filterAuth.project.name:'비공개'}"></div>
								<div th:text="${filterAuth.team != null? filterAuth.team.name:''}"></div>
								<div th:text="${filterAuth.account != null? filterAuth.account.name:''}"></div>
							</div>
							</div>
						</div>
					</div>
				</td>
				<td>
					<div style="height: 32px; overflow: auto;">
						<div style="display: flex; height: 24px; margin-bottom: 4px;"  th:each="filterAuth :${filterAuth}" th:if="${filterList.idx == filterAuth.filter.idx && filterAuth.type == 2}">
							<div style="height: 36; width: 28px; margin: 2px 8px 0px 2px;">
								<img style="width: 24px;" th:src="@{|/images/${filterAuth.project != null? filterAuth.project.iconFilename : 'lock.svg'}|}">
								<img style="width: 24px;" th:src="@{|/images/${filterAuth.team != null? 'team.svg': ''}|}" th:if="${filterAuth.team != null}">
							</div>
								<div style="margin-top: 4px;" >
							<div>
								<div th:text="${filterAuth.project != null? filterAuth.project.name:'비공개'}"></div>
								<div th:text="${filterAuth.team != null? filterAuth.team.name:''}"></div>
								<div th:text="${filterAuth.account != null? filterAuth.account.name:''}"></div>
							</div>
							</div>
						</div>
					</div>
				</td>
				<td>
					<div style="font-size: 14px;">1명</div>
				</td>
				<td>
					<div class="delete_button" style="padding: 8px 0px 0px 4px;">
						<div>
							<svg style="padding: 0px 4px 2px;"width="24" height="24" viewBox="0 0 24 24" role="presentation">
							<g fill="currentcolor" fill-rule="evenodd">
								<circle cx="5" cy="12" r="2"></circle>
								<circle cx="12" cy="12" r="2"></circle>
								<circle cx="19" cy="12" r="2"></circle>
							</g>
						</svg>
						</div>
						<button class="delete_button_1" style="display: none;">
							<div class="delete_button_1_text">삭제</div>
						</button>
						<div class="delete_modal" style="display: none;">
							<div class="delete_modal_contents">
								<div class="delete_alert_title">
									<img src="/images/alaret_icon.svg" width="16" height="16" style="filter: invert(32%) sepia(62%) saturate(3573%) hue-rotate(345deg) brightness(82%) contrast(91%);">
									<div th:text="${filterList.name}+'을(를) 삭제하시겠습니까?'" class="delete-alert-titletext"></div>
								</div>
								<div class="delete_alert_body">
									<div style="margin: 60px 0px;">
										이 항목과 관련 댓글, 첨부 파일 및 모든 데이터를 영구적으로 삭제하려고 합니다.<br>
										삭제하지 않으려면 대신에 해결하거나 닫을 수 있습니다.
									</div>
								</div>
								<div class="delete_alert_btnbar">
									<button class="delete_alert_cancelbtn">
										<div>취소</div>
									</button>
									<button class="delete_alert_submitbtn" th:value="${filterList.idx}">
										<div>삭제</div>
									</button>
								</div>
							</div>
						</div>
					</div>
				</td>
			</tr>
		</table>
				
	</div>
	<script th:src="@{/js/every_filter.js}"></script>
</div>

</html>