<html layout:decorate="~{project/setting/layout}">

<head>
	<link rel="stylesheet" type="text/css" th:href="@{/css/setting_access.css}">
</head>
<div layout:fragment="content">
	<div class="setting_container">
		<div class="project_setting_title">
			<p>프로젝트<span>/</span><th:block th:text="${currentProject.name}"></th:block><span>/</span>프로젝트 설정</p>
			<div class="title_box">
				<h1>액세스</h1>
				<div>
					<button>사용자 추가</button>
				</div>
			</div>
		</div>
		<div class="project_access_main">
			<h2>프로젝트 액세스 권한</h2>
			<div class="explanation_box">
				<img src="/images/exclamation_mark_icon_blue.svg" width="20" height="20"/>
				<p>"<span th:text="${currentJira.name}"></span>" Jira 사이트에 대한 액세스 권한이 있는 사용자는 이 프로젝트의 이슈를 검색하고 조회하며 만들고 편집할 수 있습니다.</p>
			</div>
			<div class="search_box">
				<div class="input_box">
					<img src="/images/search_icon.svg" width="16" height="16"/>
					<input placeholder="사용자 검색" />
				</div>
				<select>
					<option value="0" hidden>역할</option>
					<option value="3">관리자</option>
					<option value="2">구성원</option>
					<option value="1">조회자</option>
				</select>
			</div>
			<table class="access_table">
				<colgroup>
					<col style="width: 40%;">
					<col style="width: 40%;">
					<col style="width: 20%;">
				</colgroup>
				<thead>
					<tr>
						<th>이름</th>
						<th>이메일</th>
						<th>역할</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="projectMember : ${projectMemberList}">
						<td>
							<div class="user_info_box">
								<img th:src="@{|/images/${projectMember.account.iconFilename}|}" width="32" height="32" style="border-radius: 32px;"/>
								<span th:text="${projectMember.account.name}"></span>
							</div>
						</td>
						<td th:text="${currentUser.email == projectMember.account.email ? projectMember.account.email : '-'}"></td>
						<td>
							<select>
								<option value="0" hidden>역할</option>
								<option value="3" th:selected="${projectMember.auth_type == 3}">관리자</option>
								<option value="2" th:selected="${projectMember.auth_type == 2}">구성원</option>
								<option value="1" th:selected="${projectMember.auth_type == 1}">조회자</option>
							</select>
						</td>
					</tr>
					
				</tbody>
			</table>
		</div>
	</div>
</div>
</html>