<div class="setting_aside" th:fragment="settingAsideFragment">
	<div class="title_box">
		<div class="back_btn_box">
			<a href="/"><img src="/images/arrow_tail_left_icon.svg"/></a>
			<div>프로젝트 설정</div>
		</div>
		<div class="project_info_box">
			<img th:src="@{|/images/${currentProject.iconFilename}|}" width="20" height="20" style="border-radius: 4px;"/>
			<div>
				<div th:text="${currentProject.name}"></div>
				<p>비즈니스 프로젝트</p>
			</div>
		</div>
	</div>
	<div class="setting_lnb">
		<a th:href="@{|/project/${currentProject.key}/setting/info|}" class="setting_aside_btn paddingLeft info accent_btn">
			<div class="accent_border"></div>
			<span>세부 사항</span>
		</a>
		<a th:href="@{|/project/${currentProject.key}/setting/access|}" class="setting_aside_btn paddingLeft access accent_btn">
			<div class="accent_border"></div>
			<span>액세스</span>
		</a>
		<div class="setting_aside_btn issue_type accent_btn">
			<div class="img_box">
				<img src="/images/arrow_right_icon.svg" width="12" height="12"/>
			</div>
			<span>이슈 유형</span>
		</div>
		<div class="issue_type_box">
			<div class="epik_box">
				<a th:href="@{|/project/${currentProject.key}/setting/issue_type/${issueType.idx}|}"
				   th:each="issueType : ${issueTypeInfoList}"
				   th:if="${issueType.grade == 3}"
				   class="setting_aside_btn accent_btn">
					<div class="accent_border"></div>
					<div class="img_box">
						<img th:src="@{|/images/${issueType.iconFilename}|}" width="14" height="14"/>
					</div>
					<span th:text="${issueType.name}"></span>
				</a>
			</div>
			<div class="middle_box">
				<a th:href="@{|/project/${currentProject.key}/setting/issue_type/${issueType.idx}|}"
				   th:each="issueType : ${issueTypeInfoList}"
				   th:if="${issueType.grade == 2}"
				   class="setting_aside_btn accent_btn">
					<div class="accent_border"></div>
					<div class="img_box">
						<img th:src="@{|/images/${issueType.iconFilename}|}" width="14" height="14"/>
					</div>
					<span th:text="${issueType.name}"></span>
				</a>
			</div>
			<div class="sub_box">
				<a th:href="@{|/project/${currentProject.key}/setting/issue_type/${issueType.idx}|}"
				   th:each="issueType : ${issueTypeInfoList}"
				   th:if="${issueType.grade == 1}"
				   class="setting_aside_btn accent_btn">
					<div class="accent_border"></div>
					<div class="img_box">
						<img th:src="@{|/images/${issueType.iconFilename}|}" width="14" height="14"/>
					</div>
					<span th:text="${issueType.name}"></span>
				</a>
			</div>
			<div class="setting_aside_btn insert">
				<div class="img_box">
					<img src="/images/plus_icon.svg" width="16" height="16"/>
				</div>
				<span>이슈 유형 추가</span>
			</div>
		</div>
	</div>
	<div class="create_issuetype_container">
		<div class="create_issuetype_box">
			<div class="create_issuetype_title">이슈 유형 만들기</div>
			<div class="create_issuetype_body">
				<div class="set_issuetype_title">이름</div>
				<div class="set_issuetype_name_box">
					<input type="text" class="set_issuetype_name_input" placeholder="새 이름 입력">
				</div>
				<div class="set_issuetype_title">설명</div>
				<textarea class="set_issuetype_content_area" rows="5" placeholder="이 이슈 유형을 사용하는 경우를 사용자들에게 알리기"></textarea>
			</div>
			<div class="create_issuetype_icon_box">
				<div class="set_issuetype_title icon">아이콘</div>
				<div class="issuetype_icon_selected" th:attr="data-iconfilename='issue_task.svg', data-projectidx=${currentProject.idx}">
					<img src="/images/issue_task.svg" width="24" height="24">
					<div class="issuetype_icon_selectbtn">
						<div class="issuetype_icon_selectwindow">
							<div class="issuetype_icon_option" th:attr="data-iconfilename='issue_epik.svg'">
								<img src="/images/issue_epik.svg" width="16" height="16">
								<span>에픽</span>
							</div>
							<div class="issuetype_icon_option" th:attr="data-iconfilename='issue_bug.svg'">
								<img src="/images/issue_bug.svg" width="16" height="16">
								<span>버그</span>
							</div>
							<div class="issuetype_icon_option" th:attr="data-iconfilename='issue_work.svg'">
								<img src="/images/issue_work.svg" width="16" height="16">
								<span>작업</span>
							</div>
							<div class="issuetype_icon_option" th:attr="data-iconfilename='issue_bookmark.svg'">
								<img src="/images/issue_bookmark.svg" width="16" height="16">
								<span>북마크</span>
							</div>
							<div class="issuetype_icon_option" th:attr="data-iconfilename='issue_list.svg'">
								<img src="/images/issue_list.svg" width="16" height="16">
								<span>리스트</span>
							</div>
							<div class="issuetype_icon_option" th:attr="data-iconfilename='issue_task.svg'">
								<img src="/images/issue_task.svg" width="16" height="16">
								<span>Task</span>
							</div>
							<div class="issuetype_icon_option" th:attr="data-iconfilename='issue_sub_task.svg'">
								<img src="/images/issue_sub_task.svg" width="16" height="16">
								<span>Sub Task</span>
							</div>
						</div>
						<span>아이콘 변경</span>
					</div>
				</div>
			</div>
			<div class="create_issuetype_btn_box">
				<button class="create_issuetype_btn submit">만들기</button>
				<button class="create_issuetype_btn cancel">취소</button>
			</div>
		</div>
	</div>
	<script src="/js/setting_aside.js"></script>
</div>