<div class="setting_aside" th:fragment="settingAsideFragment">
	<div class="title_box">
		<div class="back_btn_box">
			<a href="/"><img src="/images/arrow_tail_left_icon.svg"/></a>
			<div>프로젝트 설정</div>
		</div>
		<div class="project_info_box">
			<img th:src="@{|/images/${currentProject.iconFilename}|}" width="20" height="20" style="border-radius: 4px;"/>
			<div>
				<div th:text="${currentProject.name}"></div>
				<p>비즈니스 프로젝트</p>
			</div>
		</div>
	</div>
	<div class="setting_lnb">
		<a th:href="@{|/project/${currentProject.key}/setting/info|}" class="setting_aside_btn paddingLeft info accent_btn">
			<div class="accent_border"></div>
			<span>세부 사항</span>
		</a>
		<a th:href="@{|/project/${currentProject.key}/setting/access|}" class="setting_aside_btn paddingLeft access accent_btn">
			<div class="accent_border"></div>
			<span>액세스</span>
		</a>
		<div class="setting_aside_btn issue_type accent_btn">
			<div class="img_box">
				<img src="/images/arrow_right_icon.svg" width="12" height="12"/>
			</div>
			<span>이슈 유형</span>
		</div>
		<div class="issue_type_box">
			<div class="epik_box">
				<a th:href="@{|/project/${currentProject.key}/setting/issue_type/${issueType.idx}|}"
				   th:each="issueType : ${issueTypeInfoList}"
				   th:if="${issueType.grade == 3}"
				   class="setting_aside_btn accent_btn">
					<div class="accent_border"></div>
					<div class="img_box">
						<img th:src="@{|/images/${issueType.iconFilename}|}" width="14" height="14"/>
					</div>
					<span th:text="${issueType.name}"></span>
				</a>
			</div>
			<div class="middle_box">
				<a th:href="@{|/project/${currentProject.key}/setting/issue_type/${issueType.idx}|}"
				   th:each="issueType : ${issueTypeInfoList}"
				   th:if="${issueType.grade == 2}"
				   class="setting_aside_btn accent_btn">
					<div class="accent_border"></div>
					<div class="img_box">
						<img th:src="@{|/images/${issueType.iconFilename}|}" width="14" height="14"/>
					</div>
					<span th:text="${issueType.name}"></span>
				</a>
			</div>
			<div class="sub_box">
				<a th:href="@{|/project/${currentProject.key}/setting/issue_type/${issueType.idx}|}"
				   th:each="issueType : ${issueTypeInfoList}"
				   th:if="${issueType.grade == 1}"
				   class="setting_aside_btn accent_btn">
					<div class="accent_border"></div>
					<div class="img_box">
						<img th:src="@{|/images/${issueType.iconFilename}|}" width="14" height="14"/>
					</div>
					<span th:text="${issueType.name}"></span>
				</a>
			</div>
			<div class="setting_aside_btn">
				<div class="img_box">
					<img src="/images/plus_icon.svg" width="16" height="16"/>
				</div>
				<span>이슈 유형 추가</span>
			</div>
		</div>
		
	</div>
	<script src="/js/setting_aside.js"></script>
</div>